<div class="jumbotron-local text-secondary">
  <div class="text-center">
    <h3>Various Offers</h3>
  </div>
</div>

<button class="btn btn-secondary" (click)="goBackToPreviousPage()">Go Back</button>

<br>

<!-- Card -->
<div class="card mb-3 mt-3">
  <div class="card-body">

    <span class="text-dark d-flex font-weight-bolder justify-content-between">
      Bulk Offer
    </span>

    <div>
      <div class="mt-3">
        <div class="md-form md-outline mb-0">

          <!-- Card -->
          <div class="card mb-3 shadow-sm">
            <div class="card-body">
              <div class="col-md-7 col-lg-9 col-xl-9">
                <div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <img src="assets/img/five_percentage.png" style="height: 200px; width: 200px; border-radius: 50%">
                    </div>
                    <div>
                      <div class="def-number-input number-input safari_only mb-0 w-100">
                        Purchase above 1500 Kr and get flat <span class="text-info">5% Off</span>. We reduce it when you
                        make the payment
                      </div>
                      <small class="form-text text-muted text-center">
                        (You can mix the products. It excludes <strong>fishes, sweets and vegetables</strong>)
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Card -->


<!-- Card -->
<div class="card mb-3">
  <div class="card-body">

    <span class="text-dark d-flex font-weight-bolder justify-content-between">
      Budget purchase
    </span>

    <div>
      <div class="mt-3">
        <div class="md-form md-outline mb-0">

          <!-- Card -->
          <div class="card mb-3 shadow-sm">
            <div class="card-body">
              <div class="col-md-7 col-lg-9 col-xl-9">
                <div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <img src="assets/img/WIP.png" style="height: 200px; width: 200px; border-radius: 50%">
                    </div>
                    <div>
                      <div class="def-number-input number-input safari_only mb-0 w-100">
                        <strong class="text-primary">Work In Progress!. You will see me soon.</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Card -->


  <!-- Card -->
  <div class="card mb-3">
    <div class="card-body">

    <span class="text-dark d-flex font-weight-bolder justify-content-between">
      Same Day Delivery
    </span>

      <div>
        <div class="mt-3">
          <div class="md-form md-outline mb-0">
            <!-- Card -->
            <div class="card mb-3 shadow-sm">
              <div class="card-body">
                <div class="col-md-7 col-lg-9 col-xl-9">
                  <div>
                    <div class="d-flex justify-content-between">
                      <div>
                        <img src="assets/img/Delivery.png" style="height: 200px; width: 200px; border-radius: 50%">
                      </div>
                      <div>
                        <div class="def-number-input number-input safari_only mb-0 w-100">
                          We shall deliver on the same day <small class="text-danger">to specific locations</small>.
                          Order must be placed before 16:00.
                        </div>
                        <small class="form-text text-muted text-center card shadow-lg" style="padding: 10px">
                          <b>Same day Delivery To</b> : Huddinge, Tullinge, Älvsjo, Tumba, Flemingsberg.
                        </small>
                        <small class="form-text text-muted text-center card shadow-lg" style="padding: 10px">
                          <b>For all other locations</b> In a Day or Two
                        </small>
                        <strong class="form-text text-info text-center card shadow-lg" style="padding: 10px">
                          We deliver thrice a week to South Stockholm and North Stockholm.
                        </strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card -->

