<div class="nav-bar">

  <div class="bannerText-with-Top-Margin"> Stay home with your beloved ones!!!. We deliver at door steps </div>

  <br>

  <div class="bannerText"> Do not wanna pay delivery charges? Please ensure making order for 1000 Kr per 30 days and we pay back the delivery charge, if collected </div>

  <br>

  <div class="bannerText-small-font"> This is not a mobile friendly application. Please do not use it with gadgets, mobiles. We are currently developing mobile friendly applications </div>

</div>
