<!--div class="nav-bar">


  <img src="assets/img/banner.png" style="width: 100%; height: 400px">

  <div class="container">

  <div class="centered"> Stay home with your beloved ones!!!. We deliver at door steps </div>

  <br>

  <div class="centered"> Do not wanna pay delivery charges? Please ensure making order for 1000 Kr per 30 days and we pay back the delivery charge, if collected </div>

  <br>

  <div class="centered"> This is not a mobile friendly application. Please do not use it with gadgets, mobiles. We are currently developing mobile friendly applications </div>

</div>
</div-->

<div>
  <img src="assets/img/banner.png" style="width: 100%; height: 390px; border-radius: 35px">
</div>
