.nav-bar {
  width: 100%; /* Full width */
  height: 30%;
  background-color:lightsteelblue;
  color: black;
  text-align: center;
  margin-top: 0;
  border-radius: 50px;
}

.bannerText-with-Top-Margin {
  text-align: center;
  margin-top: 5%;
  font-size: xx-large
}

.bannerText {
  padding-top: 5px;
  text-align: center;
  font-size: xx-large
}

.bannerText-small-font {
  padding-top: 5px;
  text-align: center;
  font-size: x-large;
  font-style: italic;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
