.ui-steps .ui-steps-item {
  width: 25%;
}

.ui-steps.steps-custom {
  margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  padding: 0 1em;
  overflow: visible;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

div.hr {
  width: auto;
  border: 1px solid black;
}


.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin: auto;
}


.blockRed {
  display: block;
  width: 100%;
  border: none;
  background-color: darkred;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin: auto;
}

.arrange-horizontally > * {
  display: inline-block;
  text-align: center;
}
body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  width: 78%;
  left: 0;
  background-color: #111;
}

.right {
  width: 22%;
  right: 0;
  background-color: darkorange;
}

.centered {
  position: absolute;
  margin-left: 10em;
}
