<div id="content-desktop">

  <div class="split left">

    <p-card  [style]="{'background-color': 'blueviolet'}" class="nav-bar">
      <div class="p-col-2" style="color: ghostwhite;">
        <h3 style="padding: 0; margin: 0">Mall Of Groceries</h3>
      </div>
    </p-card>

    <br>

    <h1 style="text-align: center; padding: 10px">Order Confirmation</h1>



    <div class="p-grid" style="margin: 10px">
      <div class="p-col-8">
        <div class="p-grid">

          <div class="p-col-12" style="margin: 10px">
              <p-fieldset [style]="{'background-color': 'lightgray'}" [toggleable]="true" [transitionOptions]="'0.86ms'">
                <p-header style="font-weight: bold">Delivery Address</p-header>
                <app-user-details [displayHeader]="false"></app-user-details>
              </p-fieldset>
          </div>

          <div class="p-col-12" style="margin: 10px">
              <p-fieldset [style]="{'background-color': 'lightgray'}" [toggleable]="true" [transitionOptions]="'0.86ms'">
                <p-header style="font-weight: bold">Desired Schedule & Comments</p-header>
                <app-ng-time-picker (closeCalenderEventEmitter) = "deliveryDate = $event"></app-ng-time-picker>

                <textarea rows="5" cols="95%" placeholder="Enter your comments or inputs" pInputTextarea [(ngModel)]="commentsFromCustomer"></textarea>
              </p-fieldset>
          </div>

          <!--div class="p-col-12">
            <div style="margin: 5px">
              <p-fieldset [toggleable]="true" [transitionOptions]="'0.86ms'">
                <p-header style="font-weight: bold">Custom Legend Content</p-header>
                <textarea rows="5" cols="95%" pInputTextarea [(ngModel)]="commentsFromCustomer"></textarea>
              </p-fieldset>
            </div>
          </div-->

        </div>
      </div>

      <div class="p-col-4">
        <p-card [style]="{'background-color': 'lightgray'}" header="Order Details">


          <div style="padding-bottom: 2em">
            <button pButton label="Place Order" class="ui-button-success ui-button-rounded" (click)="placeOrder()"
                    [style]="{'width': '22em', 'height': '5em' }" [disabled]="orderBeingPlaced">
            </button>
            <button pButton label="Cancel" icon="pi pi-times" class="ui-button-rounded ui-button-danger" [style]="{'margin-left': '5em'}" (click)="cancelThisPage()"></button>
          </div>

          <app-ordered-items [orders]="getOrders()" [totalCost]="totalCost"></app-ordered-items>



          <p-card subheader="Payment Mode" [style]="{'background-color': 'lightblue'}">
            Please make swish payment or cash on delivery
          </p-card>

        </p-card>

      </div>


    </div>
  </div>
</div>


<div id="content-mobile" style="display: block; margin-top: 6em; margin-left: auto; margin-right: auto; color: black;">

  <p-accordion [multiple]="true">
    <p-accordionTab header="Delivery Address">

      <div class="p-col-12">
        <app-user-details></app-user-details>
        <br>
        <br>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Desired Delivery Time">
      <div class="p-col-12">
        <app-ng-time-picker [isDesktopApplication]="false" (closeCalenderEventEmitter) = "deliveryDate = $event"></app-ng-time-picker>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Payment Options">
      <div class="p-col-12">
        <app-payment-option-view></app-payment-option-view>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Any Comments">
      <div class="p-col-12">
        <textarea rows="5" cols="35%" pInputTextarea [(ngModel)]="commentsFromCustomer"></textarea>
      </div>
    </p-accordionTab>

  </p-accordion>

  <div class="p-col-12">
    <button pButton class="ui-button-rounded ui-button-success" style="width: 100%" label="Confirm Order" (click)="placeOrder()" ></button>
  </div>
  <div class="p-col-12">
    <button pButton class="ui-button-rounded ui-button-danger" style="width: 100%" label="Cancel Order"
            (click)="cancelThisPage()"></button>
  </div>

</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>


<p-dialog [(visible)]="displayThankYouDialog" header="Order Placed!!!" [style]="{width: '360px'}"
          (onHide)="navigateToTheMainPage()">
  <div>
    Thank you for placing the order!!!. Please check the Order History Page for viewing your orders and status of deliveries.
  </div>
  <p-footer>
    <button pButton type="button" label="close" icon="pi pi-times" class="ui-button-secondary"
            (click)="displayThankYouDialog = false"></button>
  </p-footer>
</p-dialog>


<p-dialog [(visible)]="displayErrorDialog" header="Sorry Order not placed!!!" [style]="{width: '360px'}"
          (onHide)="navigateToTheMainPage()">

  <div>
    <i class="pi pi-exclamation-triangle" style="color: red"></i>
    So Sorry!!!, There is some issue in placing the order. Kindly contact 0767534932 or mallofgroceries@gmail.com.
  </div>

  <p-footer>
    <button pButton type="button" label="close" icon="pi pi-times" class="ui-button-secondary"
            (click)="displayErrorDialog = false"></button>
  </p-footer>

</p-dialog>


<p-dialog [(visible)]="displayAddressMissingDialog" header="Missing Delivery Address!!!" [style]="{width: '360px'}">
  <div>
    Delivery Address is Missing!!!. Please add it and try again.
  </div>
  <p-footer>
    <button pButton type="button" label="close" icon="pi pi-times" class="ui-button-secondary"
            (click)="displayAddressMissingDialog = false"></button>
  </p-footer>
</p-dialog>
