.ui-steps .ui-steps-item {
  width: 25%;
}

.ui-steps.steps-custom {
  margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  padding: 0 1em;
  overflow: visible;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

div.hr {
  width: auto;
  border: 1px solid black;
}


.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin: auto;
}


.blockRed {
  display: block;
  width: 100%;
  border: none;
  background-color: darkred;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin: auto;
}

.arrange-horizontally > * {
  display: inline-block;
  text-align: center;
}
body {
  font-family: "Trebuchet MS";
}

.split {
  height: 100%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  background-color: wheat;
}

.right {
  width: 22%;
  right: 0;
  background-color: darkorange;
}

.centered {
  position: absolute;
  margin-left: 10em;
}


.nav-bar {
  position: fixed; /* Set the navbar to fixed position */
  top: -1px; /* Position the navbar at the top of the page */
  left: -1px;
  width: 100%; /* Full width */
  z-index:1; /*Add this*/
}


.jumbotron-local {
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  .jumbotron-local {
  }
}

.card-header-bg {
  background-color: #e899dc;
  background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
}

.card-body-bg {
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
}
