
<div class="footer-desktop">

  <div class="footer-content">
    <div class="footer-section">
      <h1 style="color: #7386D5; padding: 0; margin: 0">Urban Fresh Grocers</h1>
      <p>We are new online grocery distributor located in South Stockholm. </p>
      <div class="p-grid">
      <span class="p-col-6">Mobile Number  :  <span style="font-style: italic; font-style: normal">0723980601</span> </span>
      <span class="p-col-6"> Watsapp Number :  +46-723980601 </span>
      <span class="p-col-6"> Email :  mallofgroceries@gmail.com </span>
      <span class="p-col-6"> Address :  Månstorpsvagen 22, Tullinge, 14645 </span>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; mallofgroceries.com | Designed & Developed by Anish S Pillai
  </div>
</div>
