<footer class="footer mt-auto py-3 bg-light">
<div class="footer-desktop">

  <div class="footer-content">
    <div class="footer-section">
      <h3 class="text-info">Mall of Groceries - ( Your kitchen loves our products )</h3>
      <p class="text-warning text-sm-left">You press order button, we press your door bell.</p>
      <div class="p-grid text-success text-small">
        <span class="p-col-6">Mobile Number  :  <span style="font-style: italic; font-style: normal">0723980601</span> </span>
        <span class="p-col-6"> Watsapp Number :  +46-723980601 </span>
        <span class="p-col-6"> Email :  mallofgroceries@gmail.com </span>
        <span class="p-col-6"> Address :  Tullinge </span>
        <span class="p-col-12">Open Time  :  <span style="font-style: italic; font-style: normal">Mån-Lör-10-21, Söndag -10-20</span> </span>
        <p><em class="p-col-12 text-white">
          We are available on :
          <span class="text-large">
          <a href="https://www.facebook.com/srilankalivs.satracentrum" target="_blank"><i
            class="bi bi-facebook mr-2 text-primary"></i></a>
            <a href="https://chat.whatsapp.com/ENqeduwpXWd2MrisUNJc0a" target="_blank"> <i
              class="bi bi-whatsapp text-success"></i></a>
        </span>
        </em></p>

      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <span class="text-white">&copy; mallofgroceries.com | Designed & Developed by Anish S Pillai</span>
  </div>
</div>
</footer>
