
<div class="footer-desktop">

  <div class="footer-content">
    <div class="footer-section">
      <h1 style="color: greenyellow; padding: 0; margin: 0">Urban Grocers</h1>
      <p>We are new online grocery distributor located in South Stockholm. </p>
      <span  style="margin: 0; padding: 0">Mobile Number  :  <span style="font-style: italic; font-style: normal">0723980601</span> </span>
      <h4> Watsapp Number :  +46-723980601 </h4>
      <span> Email :  mallofgroceries@gmail.com </span>
      <h4> Address :  Månstorpsvagen 22, Tullinge, 14645 </h4>

    </div>
  </div>
  <div class="footer-bottom">
    &copy; mallofgroceries.com | Designed by Anish S Pillai
  </div>
</div>
