hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.text-decoration-line-through {
  text-decoration: line-through
}

.boxfd{
  margin: auto;
  position: relative;
}

.circleWithText{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #fff;
  position: absolute;
  right: -10px;
  top: -20px;
  font-size: 22px;
  opacity: 90%;
  -moz-opacity: 0.9; /* Firefox and Mozilla browsers */
  -webkit-opacity: 0.9; /* WebKit browser e.g. Safari */
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.circleWithTextMobile{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  right: -10px;
  top: -20px;
  font-size: medium;
}

p{
  font-weight: bold;
  display:flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
}

p span{
  font-weight: normal;
  font-size: .5em
}

p a {
  font-weight: bold;
  display:flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.sans-serif {
  font-family: "Trebuchet MS";
  font-size: medium;
}

.sans-serif-small-font {
  font-family: "Trebuchet MS";
  font-size: 15px;
  font-style: italic;
  color: #555555;
}

.sans-serif-italic {
  font-family: "Trebuchet MS";
  font-size: medium;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  :host ::ng-deep .customTitleBar > .ui-panel-titlebar {
    background: #357C5E;
    font-style: italic;
    font-size: x-small;
    font-weight: lighter;
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
}

@media screen and (min-width: 600px) {
  :host ::ng-deep .customTitleBar > .ui-panel-titlebar {
    background: snow;
    font-style: italic;
    font-size: small;
    font-weight: lighter;
    color: black;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
}
