<!--p-panel header={{individualGrocery.type}} styleClass="customTitleBar" [showHeader]="false"-->
<p-card (click)="isDisplayDetails=true"  [style]="{'cursor': 'pointer'}">

  <div>
    <div class="boxfd">

      <img *ngIf="isDesktopApplication" src="{{individualGrocery.imagePath}}"
           style="width: 150px; height: 150px" class="center-align">

      <span>
          <img *ngIf="!isDesktopApplication" src="{{individualGrocery.imagePath}}" style="width: 112px; height: 120px" class="center-align">
      </span>

      <div [ngClass] = "isDesktopApplication ? 'circleWithText' : 'circleWithTextMobile'">

        <div *ngIf="individualGrocery.bulkPurchaseOfferAvailable">
          <p><a style="color: white"> {{individualGrocery.bulkPurchaseOfferCount}}
            For </a> {{individualGrocery.bulkPurchaseOfferPrice}} <span>Kr</span></p>
        </div>

        <div *ngIf="!individualGrocery.bulkPurchaseOfferAvailable">

          <p *ngIf="individualGrocery.offerPrice > 0"> {{individualGrocery.offerPrice}} <span>Kr</span></p>

          <p *ngIf="individualGrocery.offerPrice == 0"> {{individualGrocery.actualPrice}} <span>Kr</span></p>
        </div>
      </div>
    </div>

    <div *ngIf="individualGrocery.maxShoppingIsRestricted" style="flex-direction: column; color: red">
      MAX SHOPPING / {{individualGrocery.maxShoppingCount}}
    </div>

    <div *ngIf="!individualGrocery.maxShoppingIsRestricted" style="flex-direction: column; color: red">
      &nbsp;
    </div>

    <span class="sans-serif">{{individualGrocery.brandName}}</span>
    <br>
    <span class="sans-serif-small-font">{{individualGrocery.type}}</span>
    <br>
    <span class="sans-serif-small-font">{{individualGrocery.subType}}</span>
    <br>
    <span class="sans-serif-italic">{{individualGrocery.weight}} {{individualGrocery.unitOfWeight}} </span>

    <div
      *ngIf="individualGrocery.maxShoppingIsRestricted || individualGrocery.bulkPurchaseOfferAvailable || individualGrocery.offerPrice != 0">
      <span style="flex-direction: column; color: purple"> Real Cost: {{individualGrocery.actualPrice}} Kr</span>
    </div>

    <div *ngIf="!individualGrocery.maxShoppingIsRestricted && !individualGrocery.bulkPurchaseOfferAvailable && individualGrocery.offerPrice == 0">
      &nbsp;&nbsp;
    </div>

  </div>

  <div class="box" style="text-align:center; padding-top: 10px">

    <div *ngIf="isNotAddedIntoTheList()">
      <!--button *ngIf="groceryCountService.isStockAvailable(individualGrocery)" pButton type="button" label="Add To Cart" class="ui-button-rounded ui-button-success"
              (click)="addItemToCart()">
      </button>


      <button *ngIf="!groceryCountService.isStockAvailable(individualGrocery)" pButton type="button" label="Out of Stock!" class="ui-button-rounded ui-button-danger"
              (click)="addItemToCart()" disabled="true">
      </button-->

      <div *ngIf="groceryCountService.isStockAvailable(individualGrocery.id) ; else elseBlock">
        <button pButton type="button" label="Add To Cart" class="ui-button-rounded ui-button-success"
                (click)="addItemToCart(); $event.stopImmediatePropagation()">
        </button>
      </div>



      <ng-template #elseBlock><button pButton type="button" label="Out of Stock!" class="ui-button-rounded ui-button-danger"
                                      (click)="addItemToCart()" disabled="true">
      </button></ng-template>



    </div>

    <div *ngIf="!isNotAddedIntoTheList()" class="ui-inputgroup; center-align">

      <button pButton type="button" icon="pi pi-minus" class="ui-button-danger"
              (click)="decrementNoOfItems()">
      </button>

      &nbsp;&nbsp;<span class="bold-center-aligned-text"> {{ getNoOfOrders() }} </span>&nbsp;&nbsp;

      <button pButton type="button" icon="pi pi-plus" class="ui-button-success"
              (click)="incrementNoOfItems(true)"></button>
    </div>
  </div>

</p-card>

<p-dialog
          header="{{individualGrocery.type}}"
          [visible]="false"
          [style]="{width: '50vw'}"
          [baseZIndex]="10000">

  <div class="ui-g ui-fluid">

    <div *ngIf="displayMaxShoppingAlertInDialog" class="ui-g-12">

      <p-messages severity="warn">
        <ng-template pTemplate>
          <span class="custom-message">{{getAlertMessage()}}</span>
        </ng-template>
      </p-messages>
    </div>

    <div class="ui-g-12 ui-md-4">

      <div class="p-col-fixed">

        <div class="boxfd">
          <img src="assets/img/groceries.png"
               style="width: 150px; height: 200px" class="center-align">
          <div class="circlefd">

            <div *ngIf="individualGrocery.bulkPurchaseOfferAvailable">
              <p><a style="color: white"> {{individualGrocery.bulkPurchaseOfferCount}}
                For </a> {{individualGrocery.bulkPurchaseOfferPrice}} <span>Kr</span></p>
            </div>

            <div *ngIf="!individualGrocery.bulkPurchaseOfferAvailable">

              <p *ngIf="individualGrocery.offerPrice > 0"> {{individualGrocery.offerPrice}} <span>Kr</span></p>

              <p *ngIf="individualGrocery.offerPrice == 0"> {{individualGrocery.actualPrice}} <span>Kr</span></p>
            </div>
          </div>
        </div>


        <div *ngIf="individualGrocery.maxShoppingIsRestricted" style="text-align: center; color: red">
          MAX SHOPPING / {{individualGrocery.maxShoppingCount}}
        </div>


      </div>

      <div class="p-col-fixed">
        <div class="box">
          <div *ngIf="isDisplayAddButton" style="text-align:center; padding-top: 10px">
            <p-button icon="pi pi-check" iconPos="right" label="Add To Cart" class="ui-button-success"
                      (click)="addItemToCart()"></p-button>
          </div>

          <div *ngIf="!isDisplayAddButton" class="ui-inputgroup">
            <button pButton type="button" icon="pi pi-minus" class="ui-button-success"
                    (click)="decrementNoOfItems()"></button>
            <input type="text" pInputText placeholder="Vote" style="font-size: 20px" [(ngModel)]="noOfItems">
            <button pButton type="button" icon="pi pi-plus" class="ui-button-success"
                    (click)="incrementNoOfItems(false)"></button>
          </div>

        </div>
      </div>

    </div>


    <div class="ui-g-12 ui-md-8">

      <div class="p-col-fixed">
        <div class="box">
          <b> {{individualGrocery.brandName}} </b></div>
      </div>

      <hr>
      <div class="p-col">
        Actual Price
        <div *ngIf="individualGrocery.offerPrice > 0" class="box">
          {{individualGrocery.actualPrice}} Kr
        </div>

      </div>
      <hr>

      <div class="p-col">
        <div class="box">
          {{individualGrocery.weight}} {{individualGrocery.unitOfWeight}}
        </div>
      </div>

      <hr>

      <div class="p-col-fixed">
        <div class="box">{{individualGrocery.brandName}}</div>
      </div>

    </div>
    <hr>
  </div>
</p-dialog>

<p-dialog *ngIf="displayMaxShoppingAlert"
          [(visible)]="displayMaxShoppingAlert" header="Information Message">
  <div>{{getAlertMessage()}}</div>
</p-dialog>



<div *ngIf="displayLoginPage">
  <app-sign-in
    [loadLoginPage]="displayLoginPage"
    (closeLoginDialogEvent)= "displayLoginPage = $event"
    [isDesktopApplication]="isDesktopApplication"
  >
  </app-sign-in>
</div>

<app-product-description *ngIf="isDisplayDetails"
                         [individualGrocery]="individualGrocery"
                         [displayProductDetailsDialog]="isDisplayDetails"
                         (closeProductDescriptionPage)="isDisplayDetails=$event"
                         [isDesktopApplication]="isDesktopApplication">
</app-product-description>
