<div class="p-grid" style="padding-top: 5em">

  <!--div *ngIf="displayProgressSpinner">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}"
                       strokeWidth="8"
                       fill="#EEEEEE"
                       animationDuration=".5s">
    </p-progressSpinner>
  </div-->

  <div id="content-desktop" *ngFor="let grocery of groceryList">
    <div class="p-col" style="width: 250px">
      <app-individual-grocery [individualGrocery]="grocery"
                              [orderedGroceryList]="orderedList">
      </app-individual-grocery>
    </div>
  </div>



  <div id="content-mobile" *ngFor="let grocery of groceryList">
    <div class="p-col" style="width: 170px">
      <app-individual-grocery [individualGrocery]="grocery"
                              [orderedGroceryList]="orderedList"
                              [isDesktopApplication]="false">
      </app-individual-grocery>
    </div>
  </div>



</div>
