<div id="content-desktop">
  <app-prod-adv-groc-list></app-prod-adv-groc-list>
  <hr *ngIf="!isGlobalSearch">

  <h3  *ngIf="isGlobalSearch" style="margin: 0; padding: 5px; font-weight: bolder; font-family: 'Trebuchet MS'; text-align: center"> Search Results </h3>

  <h3  *ngIf="isFastMovingProducts && !isGlobalSearch" style="margin: 0; padding: 5px; font-weight: bolder; font-family: 'Trebuchet MS'; text-align: center"> Fast Moving Products </h3>


  <span><span  *ngIf="mainGroceryType && !isGlobalSearch" class="font-weight-bolder" style="margin: 0; padding: 0; font-weight: bolder">{{mainGroceryType}} - </span> <a style="margin: 0; padding: 0; font-family: 'Trebuchet MS'">{{searchCategoryType}}</a></span>


  <div *ngIf="searchCategoryType === 'Sona Masoori'" class="alert alert-danger" role="alert">
    <h3 style="color: orangered"> Sona Masoori Rice is limited. You can add only one into the cart. Small alert dialog displays on top, if you try to add more. Please close it to proceed further </h3>
  </div>

  <!--hr  *ngIf="!isGlobalSearch" style="border-width: medium">
    <div *ngIf="(!isHomePage && filteredGroceryList && filteredGroceryList.length > 0) && !isGlobalSearch">

      <div style="float: right;">
        <p-dropdown [options]="sortValues" optionLabel="name" [(ngModel)]="sortableField" (ngModelChange)="performSorting()"></p-dropdown>
      </div>

      <span pInputText>
          <span style="font-style: normal; font-size: medium; font-family: 'Trebuchet MS'; font-weight: lighter"> Filter by brand: </span>
              <span style="margin-left: 10px" *ngFor="let product of brands">
                <p-checkbox label="{{product}}" value="{{product}}" [(ngModel)]="selectedBrands" (ngModelChange)="applyFilter()"></p-checkbox>
             </span>
          </span>
     </div-->
  <hr style="border-width: medium">

  <div *ngIf="displayProgressSpinner" class="p-col-12">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}"
                       strokeWidth="8"
                       fill="#EEEEEE"
                       animationDuration=".5s">
    </p-progressSpinner>
  </div>

  <div *ngIf="isFishType" class="p-col-12" >
    <app-fish-market-video-view></app-fish-market-video-view>
  </div>

  <div *ngIf="searchCategoryType === 'Fresh Fish'" class="p-col-12; bg-danger p-1 center-align mb-3">
    Fishes shall be delivered on week ends and the delivery is based on stock availability!!!
  </div>

  <div class="row">
    <div class="col-2">
      <!-- Section: Condition -->

      <div class="card bg-transparent border-info mb-3">
        <div class="card-body">
          <span style="font-style: normal; font-size: medium; font-family: 'Trebuchet MS';"> Filter by brand: </span><br>
          <span style="margin-left: 10px" *ngFor="let product of brands">
                <p-checkbox label="{{product}}" value="{{product}}" [(ngModel)]="selectedBrands"
                            (ngModelChange)="applyFilter()">
                </p-checkbox>
            <br>
          </span>

          <br>

          <span style="font-style: normal; font-size: medium; font-family: 'Trebuchet MS'"> Sort: </span><br>
          <p-dropdown [options]="sortValues" optionLabel="name" [(ngModel)]="sortableField" (ngModelChange)="performSorting()"></p-dropdown>
        </div>
      </div>

      <!-- Section: Condition -->
    </div>
    <div class="col-10">

      <div class="row">

        <div *ngFor="let grocery of filteredGroceryList">
          <div style="width: 270px;" class="p-2">
            <app-individual-grocery [individualGrocery]="grocery"
                                    [orderedGroceryList]="orderedList"
                                    [groceryCount]="groceryCounts"
                                    [groceryCount]="idOfGroceriesWithZeroStock">
            </app-individual-grocery>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>

<div id="content-mobile" class="p-grid" style="padding-top: 1em;">

  <span  *ngIf="!isGlobalSearch && isFastMovingProducts" style="font-weight: bolder; font-size: medium; padding-left: 20px; color: #7386D5"> Fast Moving Products </span>

  <span  *ngIf="isGlobalSearch" style="font-weight: bolder; font-size: medium; padding-left: 20px; color: #7386D5"> Search Results </span>

  <div  *ngIf="searchCategoryType && !isGlobalSearch" style="font-weight: bolder; font-size: medium; padding-left: 20px; color: #7386D5">{{ getHeader() }}</div>

  <div *ngIf="searchCategoryType === 'Sona Masoori'" class="alert alert-danger" role="alert">
    <h6 style="color: orangered"> Sona Masoori Rice is limited. You can add only one into the cart. Small alert dialog displays on top, if you try to add more. Please close it and proceed further  </h6>
  </div>

  <hr style="border-width: medium; width: 100%">

  <div *ngIf="!isHomePage || !isGlobalSearch" style="padding: 10px 10px 10px 30px">
    <p-dropdown [options]="sortValues" optionLabel="name" [(ngModel)]="sortableField" (ngModelChange)="performSorting()"></p-dropdown>
    <span style="padding: 10px"></span>
    <p-multiSelect [filter]="false" [(ngModel)]="selectedBrands" (ngModelChange)="applyFilter()" [options]="brandNamesForMobileApplication" [showHeader]="false" [displaySelectedLabel]="false" defaultLabel="Filter By Brand"></p-multiSelect>
  </div>


  <div *ngIf="displayProgressSpinner" style="width: 250px">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}"
                       strokeWidth="8"
                       fill="#EEEEEE"
                       animationDuration=".5s">
    </p-progressSpinner>
  </div>

  <div *ngIf="searchCategoryType === 'Fresh Fish'" class="p-col-12; warning-dialog-mobile">
    Fishes shall be delivered on week ends and the delivery is based on stock availability!!!
  </div>

  <div *ngFor="let grocery of filteredGroceryList; let i = index">
    <div class="p-col" style="text-align: left; margin-right: 20px" [class.padding-left-for-first] = "i % 2 == 0" [class.padding-right-for-second]="i % 2 != 0">
      <app-individual-grocery [individualGrocery]="grocery"
                              [orderedGroceryList]="orderedList"
                              [isDesktopApplication]="false"
                              [groceryCount] = idOfGroceriesWithZeroStock>
      </app-individual-grocery>
    </div>
  </div>

</div>
