.box-for-search {
  width: 100%;
  padding: 10px;
  border-width: thin;
  margin: 0;
}

.box-for-filter {
  border-style: solid;
  border-width: thin;
  margin: 0;
  background-color: whitesmoke;
}

.warning-dialog-mobile {
  text-align: center;
  background-color: azure;
  color: orangered;
  border-radius: 25px;
  font-size: small;
  padding: 10px;
  margin: auto;
}

.padding-left-for-first {
  padding-left: 20px;
}


.padding-right-for-second {
  padding-left: 10px;
}

.bg-color-filter-by-brand {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

.text-small {
  font-size: medium;
}
