<!-- https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone

https://www.google.com/search?sxsrf=ALeKk02KZ96QUGKK4QjNa-zB741gGpX6pw%3A1590826115048&ei=gxTSXuq1Aqn1qwGfrYCAAg&q=why+window+enlarges+when+editing+text+mobile+angular&oq=why+window+enlarges+when+editing+text+mobile+angular&gs_lcp=CgZwc3ktYWIQAzoECCMQJzoCCAA6BQgAEIMBOgYIIxAnEBM6BAgAEEM6BQgAEMsBOgcIABAKEMsBOgYIABAWEB46CAgAEBYQChAeOggIIRAWEB0QHjoFCCEQoAE6BwghEAoQoAE6BAghEBVQ17osWOSkLWDmpS1oAnAAeACAAe0BiAGBI5IBBjQ1LjYuMpgBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwiqg_KLkdvpAhWp-ioKHZ8WACAQ4dUDCAw&uact=5

https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust

https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust

-->
<p-dialog header="{{dialogHeader}}"
          [(visible)]="loadLoginPage"
          (onHide)="triggerEventForClosingDialog()"
          [responsive]="false"
          [resizable]="false"
          [style]="isDesktopApplication ? {width: '500px'} : {width: '350px'}">

  <div *ngIf="errorMessage" class="isa_error">
    <i class="pi pi-times-circle"></i>
    {{errorMessage}}
  </div>

  <div *ngIf="successMessage" class="isa_success">
    <i class="pi pi-check-circle"></i>
    {{successMessage}}
  </div>

  <div *ngIf="!isResetPasswordDialog">
    <div class="ui-g-12">
      <h4 style="margin: 0px ; font-family: 'Trebuchet MS'"> Email </h4>
    </div>

    <div *ngIf="isDesktopApplication" class="ui-g-12 u-margin-none u-padding-none">
      <input class="p-col-12_roundBordered_Input" type="text" pInputText [(ngModel)]="userId">
    </div>

    <div *ngIf="!isDesktopApplication" class="ui-g-12 u-margin-none u-padding-none">
      <input class="p-col-12_roundBordered_Input" type="text" pInputText [(ngModel)]="userId">
    </div>
    <br>

    <div class="ui-g-12">
      <h4 style="margin: 0px; font-family: 'Trebuchet MS'"> Password </h4>
    </div>

    <div *ngIf="isDesktopApplication" class="ui-g-12 u-margin-none u-padding-none">
      <input *ngIf="isLoginOperation" class="p-col-12_roundBordered_Input" type="password" pPassword [(ngModel)]="password" [feedback]="false">
      <input *ngIf="!isLoginOperation" placeholder="Minimum 6 characters" class="p-col-12_roundBordered_Input" type="password" pPassword [(ngModel)]="password">
    </div>

    <div *ngIf="!isDesktopApplication" class="ui-g-12 u-margin-none u-padding-none">
      <input *ngIf="isLoginOperation" class="p-col-12_roundBordered_Input" type="password" pPassword [(ngModel)]="password" [feedback]="false">
      <input *ngIf="!isLoginOperation"  placeholder="Minimum 6 characters"  class="p-col-12_roundBordered_Input" type="password" pPassword [(ngModel)]="password">
    </div>

    <br>

    <div class="ui-g-12">

      <div *ngIf="isLoginOperation" class="ui-g-6">
        <button pButton type="button" label="Login" class="ui-button-rounded ui-button-success"
                (click)="loginUser()"></button>
      </div>



        <div *ngIf="!isLoginOperation" class="p-col-12">
          <p-checkbox [(ngModel)]="isAccepted" [binary]="true"></p-checkbox>
          &nbsp;&nbsp;I have read and understood <span (click)="displayPrivacyPolicyDialog = true" class="privacy-policy-link">Privacy Policy</span>
        </div>



      <div *ngIf="!isLoginOperation" class="ui-g-6">
        <button [disabled]="!isAccepted" pButton type="button" label="Register" class="ui-button-rounded ui-button-success"
                (click)="registerUser()"></button>
      </div>

      <div *ngIf="isLoginOperation" class="ui-g-6">
        <a (click)="setRegisterUserPageProperties()" style="text-decoration: underline">Register new user?</a>
      </div>

      <div *ngIf="isLoginOperation" class="ui-g-6">
        <a (click)="setPasswordResetProperties()" style="text-decoration: underline">Forget Password?</a>
      </div>

      <div *ngIf="!isLoginOperation" class="ui-g-6">
        <button pButton type="button" label="Cancel" class="ui-button-rounded ui-button-danger"
                (click)="loadLoginPageProperties()"></button>
      </div>


    </div>
  </div>



  <div *ngIf="isResetPasswordDialog">

    <div class="ui-g-12">
      <h4 style="margin: 0px"> Email </h4>
    </div>

    <div *ngIf="isDesktopApplication" class="ui-g-12 u-margin-none u-padding-none">
      <input class="p-col-12_roundBordered_Input" type="text" pInputText [(ngModel)]="userId">
    </div>

    <div *ngIf="!isDesktopApplication" class="ui-g-12 u-margin-none u-padding-none">
      <input style="border-radius: 25px" type="text" size="42" pInputText [(ngModel)]="userId">
    </div>
    <br>

    <div class="ui-g-6">
      <button pButton type="button" label="Send mail" class="ui-button-rounded ui-button-success"
              (click)="resetUserPassword()"></button>
    </div>

    <div class="ui-g-6">
      <button pButton type="button" label="Cancel" class="ui-button-rounded ui-button-danger"
              (click)="cancelPasswordResetDialog()"></button>
    </div>


  </div>

</p-dialog>

<div *ngIf="displayPrivacyPolicyDialog">
    <app-private-policies [displayPrivacyPolicyDialog]="true" (closePrivacyDialog)="displayPrivacyPolicyDialog = $event"></app-private-policies>
</div>
