<p-dialog header="{{dialogHeader}}"
          [(visible)]="loadLoginPage"
          (onHide)="triggerEventForClosingDialog()"
          [responsive]="true" [resizable]="false" [style]="isDesktopApplication ? {width: '500px'} : {width: '350px'}">

  <div *ngIf="errorMessage" class="isa_error">
    <i class="pi pi-times-circle"></i>
    {{errorMessage}}
  </div>

  <div *ngIf="successMessage" class="isa_success">
    <i class="pi pi-check-circle"></i>
    {{successMessage}}
  </div>

  <div *ngIf="!isResetPasswordDialog">
    <div class="ui-g-12">
      <h4 style="margin: 0px ; font-family: 'Trebuchet MS'"> Email </h4>
    </div>

    <div *ngIf="isDesktopApplication" class="ui-g-6 u-margin-none u-padding-none">
      <input style="border-radius: 25px" type="text" size="62" pInputText [(ngModel)]="userId">
    </div>

    <div *ngIf="!isDesktopApplication" class="ui-g-6 u-margin-none u-padding-none">
      <input style="border-radius: 25px" type="text" size="42" pInputText [(ngModel)]="userId">
    </div>
    <br>

    <div class="ui-g-12">
      <h4 style="margin: 0px; font-family: 'Trebuchet MS'"> Password </h4>
    </div>

    <div *ngIf="isDesktopApplication" class="ui-g-6 u-margin-none u-padding-none">
      <input style="border-radius: 25px;" type="password" pPassword size="62" [(ngModel)]="password">
    </div>

    <div *ngIf="!isDesktopApplication" class="ui-g-6 u-margin-none u-padding-none">
      <input style="border-radius: 25px;" type="password" pPassword size="42" [(ngModel)]="password">
    </div>

    <br>

    <div class="ui-g-12">

      <div *ngIf="isLoginOperation" class="ui-g-6">
        <button pButton type="button" label="Login" class="ui-button-rounded ui-button-success"
                (click)="loginUser()"></button>
      </div>

      <div *ngIf="!isLoginOperation" class="ui-g-6">
        <button pButton type="button" label="Register" class="ui-button-rounded ui-button-success"
                (click)="registerUser()"></button>
      </div>

      <div *ngIf="isLoginOperation" class="ui-g-6">
        <a (click)="setRegisterUserPageProperties()" style="text-decoration: underline">Register new user?</a>
      </div>

      <div *ngIf="isLoginOperation" class="ui-g-6">
        <a (click)="setPasswordResetProperties()" style="text-decoration: underline">Forget Password?</a>
      </div>

      <div *ngIf="!isLoginOperation" class="ui-g-6">
        <button pButton type="button" label="Cancel" class="ui-button-rounded ui-button-danger"
                (click)="loadLoginPageProperties()"></button>
      </div>


    </div>
  </div>



  <div *ngIf="isResetPasswordDialog">

    <div class="ui-g-12">
      <h4 style="margin: 0px"> Email </h4>
    </div>

    <div *ngIf="isDesktopApplication" class="ui-g-12 u-margin-none u-padding-none">
      <input style="border-radius: 25px" type="text" size="62" pInputText [(ngModel)]="userId">
    </div>

    <div *ngIf="!isDesktopApplication" class="ui-g-12 u-margin-none u-padding-none">
      <input style="border-radius: 25px" type="text" size="42" pInputText [(ngModel)]="userId">
    </div>
    <br>

    <div class="ui-g-6">
      <button pButton type="button" label="Send mail" class="ui-button-rounded ui-button-success"
              (click)="resetUserPassword()"></button>
    </div>

    <div class="ui-g-6">
      <button pButton type="button" label="Cancel" class="ui-button-rounded ui-button-danger"
              (click)="cancelPasswordResetDialog()"></button>
    </div>


  </div>

</p-dialog>
