
.zoom {
}

.zoom:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.size-200 {
  width: 75px;
  height: 75px;
  transition:  2s;
}


.disabled {
  pointer-events: none;
  cursor: default;
  font-size: 2rem;
}

.hi-icon-effect-6 {
  box-shadow: 0 0 0 4px rgba(255,255,255,1);
  transition: background 0.2s, color 0.2s;
}

.no-touch .hi-icon-effect-6 .hi-icon:hover {
  background: rgba(255,255,255,1);
  color: #64bb5d;
}

.no-touch .hi-icon-effect-6 .hi-icon:hover:before {
  animation: spinAround 2s linear infinite;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

.a:hover {
opacity: .5;
}

.align-center-prod-adv {
  display: inline-grid;
  margin-left: auto;
  margin-right: auto;
}
