<div id="content-desktop" style="margin: -8px; background-color:orangered; color: white" class="nav-bar">

  <div class="p-grid">

    <div class="p-col-3">
      <h3 style="padding-left: 10px; padding-top: 8px"> Mall Of Groceries </h3>
    </div>

    <div class="p-col-6" style="margin-top: 25px">
      <div class="ui-inputgroup">



        <input type="text" pInputText placeholder="Under Construction - Kindly wait until next release" [(ngModel)]="searchString"
               style="width: 90%; border-radius: 25px" (ngModelChange)="valuechange($event)">
        <button pButton type="button" label="Find" style="border-radius: 25px" (click)="filterProduct()"></button>

        <!--ais-instantsearch [config]="config">
          <ais-search-box></ais-search-box>
          <ais-hits>
            <ng-template let-hits="hits">
              <ol class="ais-Hits-list">
                <li *ngFor="let hit of hits" class="ais-Hits-item">
                  {{hit | json }}
                </li>
              </ol>
            </ng-template>
          </ais-hits>
        </ais-instantsearch-->
      </div>
    </div>

    <div class="p-col-3 p-col-fixed">
      <h4>

        <div class="header-right" style="text-align: center; margin-left: 40px; margin-right: 40px" (click)="proceedToNextPage()">

          <div style="margin-left: 10px; margin-right: 30px" class="tooltip header-right">
            <i class="pi pi-shopping-cart" style="line-height: 1.25;"></i>
            <span class="tooltiptext">{{getCountOfItems()}}</span>
          </div>

          <br>
          {{getCostOfItem()}} Kr
        </div>


        <div class="header-right" style="text-align: center">

          <i class="pi pi-user-plus"> </i> <br>

          <div class="dropdown">

            <span style="text-decoration: underline">{{ getUser() }}</span>

            <div class="dropdown-content">

              <p-listbox [options]="menuItems" [listStyle]="{'max-height':'250px'}">

                <ng-template let-menuItem pTemplate="item">
                  <div class="ui-helper-clearfix">

                    <span (click)="navigateToThePage(menuItem)"> {{menuItem.label}}</span>

                  </div>
                </ng-template>

                <p-footer>
                  <button *ngIf="isLoggedIn()" pButton label="Logout" class="ui-button-rounded"
                          (click)="logOut()"></button>
                  <button *ngIf="!isLoggedIn()" pButton label="Login" class="ui-button-rounded"
                          (click)="logIn()"></button>
                </p-footer>
              </p-listbox>

            </div>
          </div>
        </div>
      </h4>
    </div>

  </div>
</div>

<div *ngIf="displayLoginPage">
  <app-sign-in
    [loadLoginPage]="displayLoginPage"
    (closeLoginDialogEvent)= "displayLoginPage = $event"
    [isDesktopApplication]="isDesktopApplication"
  >
  </app-sign-in>

</div>

















<div id="content-mobile" class="p-grid nav-bar" [style]="{'background-color': 'orangered', 'color': 'white'}">

  <div class="p-col-1">
    <div class="box">
      <i class="pi pi-align-justify" style="font-size: 2em; color:snow" (click)="displayNavigator=true"></i>
    </div>
  </div>

  <div class="p-col-6" style="padding-top: 1em">
    <div class="box" style="font-size: small">Mall Of Groceries</div>
  </div>

  <div class="p-col-2">
    <app-fish-view-button [isDesktopDevice]="false"></app-fish-view-button>
  </div>

  <div class="p-col-1">
    <p-menu [style]="{'float': 'left'}" #menu [popup]="true" [model]="items"></p-menu>
    <div class="box">
      <i class="pi pi-user" style="font-size: xx-large; color: white" (click)="displayMenuItemsForUser(menu, $event)"></i>
    </div>
  </div>


  <div class="p-col-2" (click)="loadSideBarMenu()">
    <div style="margin-right: 30px" class="tooltip header-right">
      <i class="pi pi-shopping-cart" style="font-size: xx-large; color: white"></i>
      <span class="tooltiptext">{{getCountOfItems()}}</span>
    </div>
  </div>

  <!--div class="p-col-12" style="padding-top: 1em">
    <input placeholder="Under Construction. Will release in next version" pInputText style="width: 100%" [style]="{'border-radius': '25px'}"/>
  </div-->

  <div class="holder">
    <div class="news">Coming soon!!!. We will deliver your order from The South Indian Restaurant & Saravana Bhavan</div>
  </div>

</div>




<app-review-ordered-items [displaySideMenuBar]="displaySideMenuBar"
                          [isDesktopApplication]="isDesktopApplication"
                          (closeSideBarMenuEvent)="displaySideMenuBar = $event">
</app-review-ordered-items>

<div *ngIf="displayNavigator">
<!--app-navigator-for-mobile-device [displaySideBarMenuItemForMobileApplication]="displayNavigator"
                                  (closeSideBarMenuItemForMobileApplication)="displayNavigator = $event"-->

  <p-sidebar [(visible)]="displayNavigator"
             position="right"
             styleClass="ui-sidebar-lg"
             (onHide)="displayNavigator = false"
             [style]=" {'overflow': 'scroll', left: 0} ">

    <button pButton label="Home Page" icon="pi pi-home" class="ui-button-info ui-button-rounded" style="width: 100%" (click)="navigateToTheMainPage()"></button>


    <app-navigator [isMobileDevice]="true" (closeNavigationDialogForMobApp)="displayNavigator =  $event"></app-navigator>

  </p-sidebar>



<!--/app-navigator-for-mobile-device-->
</div>


