<div class="p-grid" [style]="{'background-color': 'red'}">
  <div class="p-col-12 p-sm-6 p-lg-2 p-col-align-center" style="float: right">Mall of Groceries</div>
  <div class="p-col-12 p-md-12 p-lg-7 p-col-align-center">
    <input pInputText style="width: 90%" [style]="{'border-radius': '25px'}" />
  </div>
  <div class="p-col-12 p-md-6 p-lg-2">
    <div class="ui-inputgroup">
      <i class="pi pi-shopping-cart" style="font-size: 3em; color: white"></i>

      <label style="font-size: 2em; color: white"> 1265 kr </label>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-1"> Count <br> anish </div>
</div>

