.medium-font-size-light-text {
  font-size: small;
  font-weight: lighter
}

.red-back-ground {
  color: red;
  font-weight: bolder;
  font-size: large;
}

.anish-back-ground {
  color: rebeccapurple;
  font-weight: bolder;
  font-size: large;
}
