<h1 *ngIf="isMobileDevice" style="text-align: center; font-family: 'Trebuchet MS'; font-style: oblique" [ngClass]="{'medium-font-size' : isMobileDevice}">Order History</h1>

<h3 *ngIf="!isMobileDevice" style="margin-top: 80px; text-align: center" class="text-dark">Order History</h3>

<hr style="border-width: thick">

<div *ngIf="!authService.isLoggedIn">
  <div class="jumbotron jumbotron-fluid">
    <div class="container badge-warning">
      <h3 class="display-4">User is not logged in</h3>
      <h1 class="lead">Kindly log in and check the page again. There is a log in button on top of the page.</h1>
    </div>
  </div>
</div>

<div *ngIf="authService.isLoggedIn">
  <div *ngIf="orderHistory.length == 0">
    <p-card [style]="{'background-color': '#A52A2A', 'width': '100%', 'color' : 'white'}"><i
      class="pi pi-times-circle"></i> Order History is empty
    </p-card>
  </div>
</div>

  <div id="content-desktop"  *ngIf="authService.isLoggedIn">
    <div *ngFor="let oh of orderHistory">
      <p-card [style]="{'background-color': 'white', 'margin-bottom': '0.5em'}">
        <div class="p-grid">
          <span style="font-weight: bold; font-family: 'Trebuchet MS'" class="p-col-4">{{oh.orderedTimestamp}}</span>
          <div class="p-col-4">
            <button pButton [disabled]="oh.deliveryStatus === 1" class="ui-button-warning ui-button-rounded"
                    icon="pi pi-shopping-cart" label="Add to the cart"
                    (click)="enableEditingExistingOrder(oh); $event.stopImmediatePropagation()"></button>
          </div>
          <div class="p-col-4">
            <button type="button" style="float: right" class="btn btn-primary"  (click)="displayOrderHistoryDialog(oh.orderHistory)" data-toggle="modal" data-target="#orderHistoryDetailsPage">
              Display Order Details
            </button>
          </div>
        </div>
      </p-card>
    </div>
  </div>


  <div id="content-mobile" *ngIf="authService.isLoggedIn && isMobileDevice" style="align-items: center; display: block">
    <div *ngFor="let oh of orderHistory">
      <p-card [style]="{'background-color': 'white', 'margin-bottom': '0.5em'}">
        <div class="p-grid">
          <span style="font-family: 'Trebuchet MS';font-size: small" class="p-sm-4">{{oh.orderedTimestamp}}</span>
          <div class="p-sm-4">
            <button pButton [disabled]="oh.deliveryStatus === 1" class="ui-button-warning ui-button-rounded"
                    icon="pi pi-shopping-cart"  style="font-size: small" (click)="enableEditingExistingOrder(oh); $event.stopImmediatePropagation()"></button>
          </div>
          <div class="p-sm-4">
            <button pButton  class="ui-button-rounded ui-button-success" style="font-size: small"
                    icon="pi pi-bars" (click)="displayOrderHistoryDialog(oh.orderHistory)"
                    label="View Order"></button>
          </div>
        </div>
      </p-card>
    </div>
  </div>

<p-dialog [(visible)]="enableEditComment"
          [baseZIndex]="10000"
          [style]="{width: !isMobileDevice ?'50vw' : '90vw'}"
          header="Edit User Comments"
          [responsive]="true"
          [resizable]="false">


  <textarea *ngIf="currentHistoryModel && currentHistoryModel.orderDeliveryStatus" rows="5" cols="40%" pInputTextarea [(ngModel)]="commentsFromCustomer">{{currentHistoryModel.orderDeliveryStatus.commentsFromCustomer}}</textarea>


  <p-footer>
    <button pButton icon="pi pi-check" class="ui-button-success" style="border-radius: 25px" (click)="updateUserComments()" label="Save"></button>
    <button type="button" pButton icon="pi pi-times" style="border-radius: 25px" (click)="enableEditComment=false" label="Cancel" class="ui-button-danger"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="viewCommentsFromTheAdmin"
          [baseZIndex]="10000"
          [style]="{width: '90vw'}"
          header="Mall of Groceries Comments"
          [resizable]="false">


  <span *ngIf="currentHistoryModel && currentHistoryModel.orderDeliveryStatus">
    {{currentHistoryModel.orderDeliveryStatus.commentsFromMallOfGroceries.length > 0 ? currentHistoryModel.orderDeliveryStatus.commentsFromMallOfGroceries : "No Comments yet"}}
  </span>


  <p-footer>
    <button type="button" pButton icon="pi pi-times" style="border-radius: 25px" (click)="viewCommentsFromTheAdmin=false" label="Cancel" class="ui-button-danger"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="viewDeliveryScheduleView"
          [baseZIndex]="10000"
          [style]="{width: '90vw'}"
          header="Delivery Schedule"
          [resizable]="false">

  <div *ngIf="currentHistoryModel && currentHistoryModel.orderDeliveryStatus">
    <p class="p-col-12" style="color: orangered">Requested Delivery Schedule</p>
    <span
      style="float: right">{{getFormattedDateTime(currentHistoryModel.orderDeliveryStatus.desiredDeliveryDate)}}
    </span>

    <p class="p-col-12" style="color: darkred">Planned Delivery</p>
    <span
      style="float: right">{{getFormattedDateTime(currentHistoryModel.orderDeliveryStatus.actualDeliveryDate)}}</span>
  </div>

  <p-footer>
    <button type="button" pButton icon="pi pi-times" style="border-radius: 25px"
            (click)="viewDeliveryScheduleView=false" label="Cancel" class="ui-button-danger"></button>
  </p-footer>
</p-dialog>


<p-dialog [(visible)]="editExistingOrder"
          [baseZIndex]="10000"
          header="Edit Undelivered Order"
          [resizable]="true">


  Are you sure you want to add these groceries to shopping cart?


  <p-footer>
    <button type="button" pButton icon="pi pi-times" style="border-radius: 25px" (click)="editExistingOrder=false" label="No" class="ui-button-danger"></button>
    <button type="button" pButton icon="pi pi-check" style="border-radius: 25px" (click)="populateCartWithThisOrder()" label="Yes" class="ui-button-success"></button>
  </p-footer>
</p-dialog>


<!-- Modal -->
<div class="modal fade" id="orderHistoryDetailsPage" tabindex="-1" role="dialog" aria-labelledby="orderHistoryDetailsPageLabel" aria-hidden="true">
  <app-ordered-items [orders]="this.currentOrders" [totalCost]="getTotalCostOfTheOrder()"></app-ordered-items>
</div>
