<div *ngIf="displayHeader">
<h3 style="text-align: center; font-family: 'Trebuchet MS'; font-style: oblique; margin-top: 80px"> User Details </h3>

<hr style="border-width: thick">

<div *ngIf="!user">
    <div class="jumbotron jumbotron-fluid">
      <div class="container badge-warning">
        <h3 class="display-4">User is not logged in</h3>
        <h1 class="lead">Kindly log in and check the page again. There is a log in button on top of the page.</h1>
      </div>
  </div>
</div>
<p-card *ngIf="user" styleClass="p-card-shadow">

  <div *ngIf="displayErrorMessage">
    <app-display-message severity="error" summary="Error: " detail="Sorry to inform you that, there is a technical error occurred. We have created an incident and fix it soon."></app-display-message>
  </div>

  <div class="ui-g" style="width: 100%">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="user-details-text">User Name</span>
      </div>
    </div>

    <div class="ui-g-12 ui-md-8">
      <div class="ui-inputgroup">
        {{userDetailsModel.firstName}}  {{userDetailsModel.lastName}}
      </div>
    </div>
  </div>

  <hr>

  <div class="ui-g">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="user-details-text">Telephone No</span>
      </div>
    </div>

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        {{userDetailsModel.telephoneNumber}}
      </div>
    </div>
  </div>
  <hr>


  <div class="p-grid nested-grid">

    <div class="p-col-4">
      <div class="box box-stretched"> &nbsp;
        <span class="user-details-text">Address</span>
      </div>
    </div>

    <div class="p-col-8">
      <div class="p-grid">
        <div class="p-col-6">
          <span class="user-details-text">Apartment Number</span>
        </div>
        <div class="p-col-6">
          {{userDetailsModel.apartmentNo}}
        </div>


        <div class="p-col-6">
          <span class="user-details-text">Street Name</span>
        </div>
        <div class="p-col-6">
          {{userDetailsModel.streetName}}
        </div>


        <div class="p-col-6">
          <span class="user-details-text">Post Number</span>
        </div>
        <div class="p-col-6">
          {{userDetailsModel.postNumber}}
        </div>

      </div>
    </div>
  </div>

  <hr>


  <p-footer>

    <button pButton icon="pi pi-pencil" label="Edit User Details" class="ui-button-rounded ui-button-success"
             (click)="displayEditUserDialog = true"></button>
  </p-footer>
</p-card>

</div>

<div *ngIf="!displayHeader">
    <span class="mb-0 card-body"><strong>{{userDetailsModel.firstName}} {{userDetailsModel.lastName}},</strong> {{userDetailsModel.address}}, {{userDetailsModel.streetName}}, {{userDetailsModel.postNumber}} </span>
    <p class="mb-0 card-body"><strong>Contact Number :- </strong> {{userDetailsModel.telephoneNumber}}</p>


  <p-footer style="float: right">

    <button pButton icon="pi pi-pencil" label="Edit Billing Details" class="ui-button-rounded ui-button-success"
            (click)="displayEditUserDialog = true"></button>
  </p-footer>

</div>

<app-edit-user *ngIf="displayEditUserDialog" [displayEditUserDialog] = "displayEditUserDialog"
               [userDetailsModel] = "userDetailsModel"
               (closeEditUserDialog) = "displayEditUserDialog=  $event"
               [userId] = user>
</app-edit-user>
