
<h1 [ngClass]="{'medium-font-size' : isMobileDevice}">User Details</h1>

<div *ngIf="!user"> Please log in and try again!!!</div>
<div *ngIf="user">
  <div class="ui-g" style="width: 100%">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        User Name
      </div>
    </div>

    <div class="ui-g-12 ui-md-8">
      <div class="ui-inputgroup">
        {{userDetailsModel.firstName}}  {{userDetailsModel.lastName}}
      </div>
    </div>
  </div>

  <hr>

  <div class="ui-g">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        Telephone No
      </div>
    </div>

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        {{userDetailsModel.telephoneNumber}}
      </div>
    </div>
  </div>
  <hr>


  <div class="p-grid nested-grid">

    <div class="p-col-4">
      <div class="box box-stretched"> &nbsp;&nbsp;Address</div>
    </div>

    <div class="p-col-8">
      <div class="p-grid">
        <div class="p-col-6">
          Apartment Number
        </div>
        <div class="p-col-6">
          {{userDetailsModel.apartmentNo}}
        </div>


        <div class="p-col-6">
          Street Name
        </div>
        <div class="p-col-6">
          {{userDetailsModel.streetName}}
        </div>


        <div class="p-col-6">
          Post Number
        </div>
        <div class="p-col-6">
          {{userDetailsModel.postNumber}}
        </div>

      </div>
    </div>
  </div>

  <hr>


  <p-footer style="float: right">

    <button pButton type="button" label="Edit" class="ui-button-rounded ui-button-success"
            (click)="displayEditUserDialog = true"></button>
  </p-footer>
</div>

<app-edit-user *ngIf="displayEditUserDialog" [displayEditUserDialog] = "displayEditUserDialog"
               [userDetailsModel] = "userDetailsModel"
               (closeEditUserDialog) = "displayEditUserDialog=  $event">
</app-edit-user>


<!--p-dialog *ngIf="userDetailsModel" header="Edit User" [(visible)]="displayEditUserDialog" [style]="{width: '50vw'}" [baseZIndex]="10000">

  <div class="ui-g">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        First Name <span style="color: red"> &nbsp;( Required ) </span>
      </div>
    </div>

    <div class="ui-g-12 ui-md-8">
      <div class="ui-inputgroup">
        <input type="text" pInputText [(ngModel)]="userDetailsModel.firstName"/>
      </div>
    </div>


    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        Last Name <span style="color: green"> &nbsp;( Optional ) </span>
      </div>
    </div>

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <input type="text" pInputText [(ngModel)]="userDetailsModel.lastName"/>
      </div>
    </div>

  </div>

  <hr>

  <div class="ui-g">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        Telephone No <span style="color: red"> &nbsp;( Required ) </span>
      </div>
    </div>

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <input type="text" pInputText [(ngModel)]="userDetailsModel.telephoneNumber"/>
      </div>
    </div>
  </div>

  <hr>


  <div class="p-grid nested-grid">


    <div class="p-col-4">
      <div class="box box-stretched"> &nbsp;&nbsp;Address <span style="color: red"> &nbsp;( Required ) </span></div>
    </div>

    <div class="p-col-8">
      <div class="p-grid">
        <div class="p-col-6">
          <div class="box">Apartment Number <span style="color: red"> &nbsp;* </span></div>
        </div>
        <div class="p-col-6">
          <div class="box"><input size="30" type="text" pInputText [(ngModel)]="userDetailsModel.apartmentNo"/></div>
        </div>


        <div class="p-col-6">
          <div class="box">Street Name <span style="color: red"> &nbsp;* </span></div>
        </div>
        <div class="p-col-6">
          <div class="box"><input type="text" size="30" required pInputText [(ngModel)]="userDetailsModel.streetName"/>
          </div>
        </div>

        <div class="p-col-6">
          <div class="box">Post Number <span style="color: red"> &nbsp;* </span></div>
        </div>
        <div class="p-col-6">
          <div class="box"><input type="text" size="30" pInputText [(ngModel)]="userDetailsModel.postNumber"/></div>
        </div>

      </div>
    </div>
  </div>


  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="storeUserDetails()" label="Save"></button>
    <button type="button" pButton icon="pi pi-times" (click)="displayEditUserDialog=false" label="Cancel"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>


<p-dialog header="Input Error" [(visible)]="displayErrorDialog" [style]="{width: '50vw'}" [baseZIndex]="10000">
  Please fill all required fields and try again
</p-dialog-->
