<p-dialog *ngIf="isDesktopApplication"
          header="{{individualGrocery.type}}"
          [(visible)]="displayProductDetailsDialog"
          [style]="{width: '50vw', background: 'red'}" [baseZIndex]="10000" [closable]="false">

  <h6  style="margin: 0; padding: 0; font-weight: bolder; font-family: 'Trebuchet MS'">{{productDescription?.header}} </h6>

  <hr>

  <p-card subheader="Beskrivning">
    {{productDescription?.swedishDescription}}

  </p-card>

  <hr>

  <p-card  subheader="Näringsämnen" [style]="{'width': '100%', 'margin-bottom': '2em'}">
    <div *ngIf="isNutrientsInformationPresent(); else elseBlock"><p>{{productDescription?.nutrients}}</p></div>
  </p-card>

  <hr>

  <p-card subheader="Allergiinformation" [style]="{'width': '100%', 'margin-bottom': '2em'}">
    <div *ngIf="isAllergicInformationPresent(); else elseBlock"><p>{{productDescription?.allergyInformation}}</p></div>
  </p-card>

  <hr>

  <p-card subheader="URL-referens" [style]="{'width': '100%', 'margin-bottom': '2em'}">
    <div *ngIf="isWebsiteLinkPresent(); else elseBlock"><a href="{{productDescription.actualWebsiteLink}}" target="_blank" style="color: orangered; text-decoration: underline">Mer Information på engelska</a></div>
  </p-card>

  <hr>

  <ng-template #elseBlock><p style="font-family: 'Trebuchet MS'; font-weight: bold"> Tyvärr saknas information!. </p></ng-template>

  <p-button iconPos="right" label="Close" class="ui-button-success"
            (click)="closeThisDialog()" style="float: right; background-color: #7386D5; color: #7386D5"></p-button>

</p-dialog>


<p-dialog *ngIf="!isDesktopApplication"
          header="{{individualGrocery.type}}" [style]="{width: '90vw'}"
          [(visible)]="displayProductDetailsDialog" [baseZIndex]="10000"
          [closable]="false">

  <b></b>

  <p style="font-size: small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


  <br>

  <p-card header="Simple Card" [style]="{'width': '100%', 'margin-bottom': '2em', 'font-size': 'small'}">
    <ng-template pTemplate="header">
      <img alt="Card" src="assets/showcase/images/usercard.png">
    </ng-template>
    <p style="font-size: small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
  </p-card>



  <p-button iconPos="right" label="Close" class="ui-button-success"
            (click)="closeThisDialog()" [style]="{'float': 'right', 'background-color': '#7386D5'}"></p-button>

</p-dialog>
