<app-header></app-header>

<!--div style="display: flex">
<app-landing-page></app-landing-page>

<app-bread-crumb></app-bread-crumb>

<div class="p-grid ui-g-12 ui-md-2">
  <app-navigator></app-navigator>
</div>

<div class="p-grid ui-g-12 ui-md-10" style="float: right;">
  <router-outlet></router-outlet>
</div>
</div-->


<div id="content-desktop" class="p-grid p-dir-col">
  <div  class="p-col-12">
    <app-landing-page></app-landing-page>
  </div>

  <div class="p-col">
    <div class="box">
      <app-bread-crumb></app-bread-crumb>
    </div>
  </div>

  <div class="p-col">
    <div class="box">
      <div class="p-grid ui-g-12 ui-md-2">
        <app-navigator></app-navigator>
      </div>

      <div class="p-grid ui-g-12 ui-md-10" style="float: right;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!--https://stackoverflow.com/questions/55284780/angular-using-the-same-router-outlet-twice-in-one-component
https://www.google.com/search?ei=LT_QXqWRGKiorgTLi42gCg&q=how+to+repeat+router+outlet+in+angular+6&oq=how+to+repeat+%3Crouter-outlet%3E&gs_lcp=CgZwc3ktYWIQAxgBMggIIRAWEB0QHjIICCEQFhAdEB4yCAghEBYQHRAeMggIIRAWEB0QHjIICCEQFhAdEB4yCAghEBYQHRAeMggIIRAWEB0QHjIICCEQFhAdEB4yCAghEBYQHRAeOgQIABBHOgUIABCRAjoCCAA6BAgAEENQjfwGWPymB2DLvAdoAHADeACAAU-IAaUGkgECMTWYAQCgAQGgAQKqAQdnd3Mtd2l6&sclient=psy-ab
https://stackblitz.com/edit/router-outlet-in-template-not-working-example-cpyjbq-51fwdd -->

<div id="content-mobile">
  <router-outlet></router-outlet>
</div>
