<app-header></app-header>

<div *ngIf="isDesktopDevice">
  <app-navigator class="sidenav" style="background-color: #7386D5"></app-navigator>

  <div class="main">
    <body>
    <div>
    <router-outlet></router-outlet>
    </div>
    <footer>
      <app-footer></app-footer>
    </footer>
    </body>
  </div>

</div>


<div *ngIf="!isDesktopDevice">
  <i class="footerInfo pi pi-info" (click)="displayInfoDialog = true"></i>
  <i *ngIf="displayScrollToTop" onClick="window.scrollTo(0, 0)" class="pi pi-arrow-up scrollToTopMobile"></i>
  <router-outlet></router-outlet>
</div>



<p-sidebar [(visible)]="displayInfoDialog" position="bottom" [style]="{height:'30em'}">

  <div class="p-grid" style="font-family: 'Trebuchet MS'">
    <div class="p-col-12">
      <div class="contact-box" style="background-color: orangered; color: white">Mall Of Groceries</div>
    </div>
    <div class="p-col-4">
      <div class="contact-box">Email</div>
    </div>
    <div class="p-col-8">
      <div class="contact-box">mallofgroceries@gmail.com</div>
    </div>
    <div class="p-col-4">
      <div class="contact-box">Mobile</div>
    </div>
    <div class="p-col-8">
      <div class="contact-box">0767534932</div>
    </div>
    <div class="p-col-4">
      <div class="contact-box">Wats app</div>
    </div>
    <div class="p-col-8">
      <div class="contact-box">+46-723980601</div>
    </div>
  </div>

  Problem with the delivery?, Do not worry at all, We shall replace or take it back and refund your money with out any
  conflicts

</p-sidebar>
