<app-header *ngIf="!isDesktopDevice"></app-header>

<!--nav class="navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav-->

<nav *ngIf="isDesktopDevice" class="navbar navbar-dark bg-dark fixed-top">

  <!--div>
    <button class="navbar-toggler" type="button">
      <span (click)="toggleSideBarButton()" class="navbar-toggler-icon"></span>
    </button>

  </div-->

  <a class="navbar-brand" style="margin-left: 10px" href="#">Mall Of Groceries</a>

  <div>

    <div class="input-group  mr-auto mt-2 mt-lg-0" style="width: 700px">
      <input class="form-control my-0 py-1" type="text" placeholder="Search product in the store..." aria-label="Search"
             [(ngModel)]="searchString" (ngModelChange)="valueChange($event)">
      <div class="input-group-append">
        <span class="input-group-text lighten-3 search-icon-background-color" id="basic-text1"><i
          style="color: white" class="pi pi-search"></i></span>
      </div>
    </div>

  </div>

  <div class="p-col-1 bg-dark"
       style="text-align: center; margin-right: 10px; padding-bottom: 0; color: lime; font-size: smaller">
    <i class="pi pi-phone"> </i> <br>
    <div class="dropdown">
      <span class="active text-white">0723980601</span>
    </div>
  </div>


  <button type="button" class="btn btn-outline-success" style="width: 160px" (click)="proceedToNextPage()">
    <i class="pi pi-shopping-cart"></i> <span class="badge badge-danger">{{getCountOfItems()}}</span> <small
    class="m-2 font-weight-bold">{{getCostOfItem()}} Kr</small>
    <span class="sr-only">unread messages</span>
  </button>

  <!--div class="btn-group">
    <button *ngIf="!authService.isLoggedIn" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      Please log in!
    </button>
    <button *ngIf="authService.isLoggedIn" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      Hi! <small>{{userName}}</small>
    </button>
    <div class="dropdown-menu dropdown-box-style mr-lg-1">
      <a class="dropdown-item" href="order-history"><small>Order History</small></a>
      <a class="dropdown-item" href="user-details"><small>My Details</small></a>
      <div class="dropdown-divider"></div>
      <a *ngIf="!authService.isLoggedIn" class="dropdown-item" (click)="displayLoginPage = true"><small>Sign In</small></a>
      <a *ngIf="authService.isLoggedIn" class="dropdown-item" (click)="logOut()"><small>Sign Out</small></a>
    </div>
  </div-->

<!--  <div class="p-col-1 bg-dark"-->
<!--       style="text-align: center; margin-right: 10px; padding-bottom: 0; color: lime; font-size: smaller">-->
<!--    <i class="bi bi-calendar-check-fill" style="color: red"></i><br>-->
<!--    <div class="dropdown">-->
<!--      <span class="text-secondary active">Order History</span>-->
<!--    </div>-->
<!--  </div>-->



<!--  <div class="p-col-1 bg-dark"-->
<!--       style="text-align: center; margin-right: 10px; padding-bottom: 0; color: lime; font-size: smaller">-->
<!--    <i class="bi bi-calendar-check-fill" style="color: red"></i><br>-->
<!--    <div class="dropdown">-->
<!--      <span class="text-secondary active bannerText-small-font">User Details</span>-->
<!--    </div>-->
<!--  </div>-->




<!--  <div class="p-col-1 bg-dark"-->
<!--       style="text-align: center; margin-right: 10px; padding-bottom: 0; color: lime; font-size: smaller">-->
<!--    <i class="bi bi-calendar-check-fill" style="color: red"></i><br>-->
<!--    <div class="dropdown">-->
<!--      <span class="text-secondary active">Order History</span>-->
<!--    </div>-->
<!--  </div>-->


  <a href="user-details" class="bi bi-tools text-info font-weight-bolder icon-large-size" data-bs-toggle="tooltip" data-bs-placement="top" title="User Detail"></a>
  <a href="order-history" class="bi bi-bag-plus-fill text-warning font-weight-bolder icon-large-size" data-bs-toggle="tooltip" data-bs-placement="top" title="Order History"></a>

  <li class="nav-item">
    <a *ngIf="!authService.isLoggedIn" class="nav-link d-flex flex-column" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to Login">
      <button type="button" class="btn btn-success btn-sm-custom" (click)="displayLoginPage = true">Log In</button>
      <small class="text-danger">Please login</small>
    </a>


    <a *ngIf="authService.isLoggedIn" class="nav-link d-flex flex-column" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to Log out">
      <button type="button" class="btn btn-primary btn-sm-custom" (click)="logOut()">Log Out</button>
      <small class="text-success">Hi, {{userName}}</small>
    </a>
  </li>


</nav>


<div *ngIf="isDesktopDevice">
  <app-navigator *ngIf="displayGroceryMenuItems()" [visibleSidebar1]="displayMenuItems" (closeNavigationDialogForMobApp)="closeNavigator()" id="navbarToggleExternalContent"></app-navigator>
  <div class="main">
    <body>
    <div>
    <router-outlet></router-outlet>
    </div>
    <footer>
      <app-footer></app-footer>
    </footer>
    </body>
  </div>

</div>


<div *ngIf="!isDesktopDevice">
  <i class="footerInfo pi pi-info" (click)="displayInfoDialog = true"></i>
  <i *ngIf="displayScrollToTop" onClick="window.scrollTo(0, 0)" class="pi pi-arrow-up scrollToTopMobile"></i>
  <router-outlet></router-outlet>
</div>



<p-sidebar [(visible)]="displayInfoDialog" position="bottom" [style]="{height:'30em'}">

  <div class="p-grid" style="font-family: 'Trebuchet MS'">
    <div class="p-col-12">
      <div class="contact-box" style="background-color: orangered; color: white">Mall Of Groceries</div>
    </div>
    <div class="p-col-4">
      <div class="contact-box">Email</div>
    </div>
    <div class="p-col-8">
      <div class="contact-box">mallofgroceries@gmail.com</div>
    </div>
    <div class="p-col-4">
      <div class="contact-box">Mobile</div>
    </div>
    <div class="p-col-8">
      <div class="contact-box">0767534932</div>
    </div>
    <div class="p-col-4">
      <div class="contact-box">Wats app</div>
    </div>
    <div class="p-col-8">
      <div class="contact-box">+46-723980601</div>
    </div>
  </div>

  Problem with the delivery?, Do not worry at all, We shall replace or take it back and refund your money with out any
  conflicts

</p-sidebar>

<div *ngIf="displayLoginPage">
  <app-sign-in
    [loadLoginPage]="displayLoginPage"
    (closeLoginDialogEvent)= "displayLoginPage = $event"
    [isDesktopApplication]="true">
  </app-sign-in>

</div>

<app-review-ordered-items [displaySideMenuBar]="displaySideMenuBar"
                          [isDesktopApplication]="isDesktopDevice"
                          (closeSideBarMenuEvent)="displaySideMenuBar = $event">
</app-review-ordered-items>


