ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
}

li {
  padding: 5px;
  width: 100%

}

li:hover  {
  background-color: orangered;
  color: white;
}

li::selection {
  background-color: red;
  color: white;
}

.border-list {
  border-bottom: 1px solid #ddd;
}

.kooi .ui-listbox-list * {
   color: red;
   font-weight: bold
 }


:host ::ng-deep .ui-listbox .ui-listbox-list .ui-listbox-item.ui-state-highlight {
  color: #000000;
  background-color: whitesmoke;
  margin: 2px;
  padding-left: 10px;
  font-style: italic;
  border: white;
}

.anish {
  border-bottom: 1px solid #ddd;
}


.dark-panel.p-slidemenu {
    background: orangered;
}


.p-slidemenu {
  width: 15rem;
}

.p-slidemenu.p-slidemenu-overlay {
  position: absolute;
}

.p-slidemenu ul {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.p-slidemenu .p-slidemenu-rootlist {
  position: absolute;
  top: 0;
}

.p-slidemenu .p-submenu-list {
}

.p-menuitem-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  border-bottom: 1px solid white;
}

.p-slidemenu .p-menuitem-icon {
  vertical-align: middle;
}

.p-menuitem-text {
  vertical-align: middle;
}

.p-slidemenu .p-menuitem {
  position: relative;
}

.p-submenu-icon {
  margin-left: auto;
}

.p-slidemenu .p-slidemenu-wrapper {
  position: relative;
}

.p-slidemenu .p-slidemenu-content {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.p-slidemenu-backward {
  position: absolute;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  display: none;
}

.p-slidemenu-backward .p-slidemenu-backward-icon {
  vertical-align: middle;
}

.p-slidemenu-backward span {
  vertical-align: middle;
}

.p-slidemenu .p-menuitem-active {
  position: static;
}

.p-slidemenu .p-menuitem-active > .p-submenu > .p-submenu-list {
  background-color: rebeccapurple;
  padding: .625em 0 0 0
}

.p-slidemenu ul:not(.p-active-submenu) > .p-menuitem:not(.p-menuitem-active),
.p-slidemenu .p-active-submenu > .p-menuitem-active > .p-submenu > .p-submenu-list {
  display: none;
  padding: .625em 0 0 0
}

.p-slidemenu .p-active-submenu > .p-menuitem-active ~ .p-menuitem {
  display: block;
  padding: .625em 0 0 0
}
