<nav
  style="height: 1500px; width: 260px; background-color:whitesmoke; border-radius: 4px; font-style: normal; padding-left: 10px">
  <ul>
    <div *ngFor="let item of menuItems">
      <div *ngIf="item.items.length == 0">
        <li class="border-list" (click)="navigateToGroceryMain(item)"> {{item.label}} </li>
      </div>

      <div *ngIf="item.items.length != 0">


        <li class="border-list" (click)="expandListBox(item.label); navigateToGroceryMain(item)">
          <div class="ui-inputgroup"><label style="text-align: center">{{item.label}} </label>
            <i class="pi pi-chevron-circle-down"> </i></div>
        </li>


        <!-- https://stackoverflow.com/questions/56865814/angular-primeng-listbox-cross-label -->
        <p-listbox *ngIf="displayDropDown(item.label)" [options]="item.items">
          <ng-template let-subItem pTemplate="item">
            <li  [style]="{'width': '100%','padding': '0', 'margin' : '0'}" (click)="navigateToGrocerySubMenu(item, subItem)">{{subItem.label}}</li>
          </ng-template>

        </p-listbox>

      </div>
    </div>
  </ul>
</nav>


