ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
}

li {
  padding: 5px;
  width: 100%

}

li:hover  {
  background-color: brown;
  color: white;
}

li::selection {
  background-color: red;
  color: white;
}

.border-list {
  border-bottom: 1px solid #ddd;
}

.anish {
  background-color: orangered;
}
