<h3>Navigate Items</h3>
<nav>

  <ul>
    <li *ngFor="let item of menuItems">
      <div *ngIf="item.items.length == 0">
        <a style="color: black" (click)="navigateToGroceryMain(item)">{{item.label}} </a>
      </div>

      <div *ngIf="item.items.length != 0">
        <p-accordion>
          <p-accordionTab header="{{item.label}}">

            <ul>
              <li *ngFor="let subItem of item.items">
                <span (click)="navigateToGrocerySubMenu(item, subItem)">{{subItem.label}}</span>
              </li>
            </ul>


          </p-accordionTab>
        </p-accordion>
      </div>
    </li>
  </ul>


</nav>


