<div id="content-desktop">
  <div class="container_home-page">
    <img src="assets/img/Shopping_Cart.jpg" style="height: 400px; width: 100%; opacity: 0.5; padding-top: 8px"/>
    <p class="top-left"
       style="font-weight: bold; font-style: oblique; font-family: 'Trebuchet MS'; font-size: xx-large">
      We deliver at your door steps. Free delivery from 400 Kr</p>
  </div>

  <hr/>
  <h5 class="p-1 text-secondary font-weight-bolder" style="text-align: center"> Catagories </h5>

  <hr/>
  <div class="p-grid" style="padding: 20px">

    <p-card class="p-col-4 product-description-text" header="Dal, Pulses & Lentils" subheader="From 15 Kr Onwards"
            [style]="{'width': '25rem',
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/dals/TRS_Mung_Dal.png" style="width: 180px; height: 180px">
          <img class="p-col-6" src="assets/img/dals/TRS_MungBeans.png" style="width: 180px; height: 180px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/dals/TRS_White_ChickPeas.png" style="width: 180px; height: 150px">
          <img class="p-col-6" src="assets/img/dals/TRS_Redkidney.jpg" style="width: 180px; height: 150px">
        </div>

        <i class="p-col-12 shop_now_text" (click)="navigateToHomePage('Dal, Pulses & Lentils', 'Dal')">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-col-4 product-description-text" header="Flour" subheader="From 20 Kr Onwards" [style]="{'width': '25rem',
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/flours/Annam_Rava.jpg" style="width: 180px; height: 180px">
          <img class="p-col-6" src="assets/img/flours/wheat/Aashirvaad_Wheat.png" style="width: 180px; height: 180px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/flours/wheat/Pillsbury.png" style="width: 180px; height: 150px">
          <img class="p-col-6" src="assets/img/flours/Millet/Chakkra_millet.jpg" style="width: 180px; height: 150px">
        </div>

        <i class="p-col-12 shop_now_text" (click)="navigateToHomePage('Flour', 'Wheat')">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-col-4 product-description-text" header="General Groceries"
            subheader="All you need is available at affordable rate" [style]="{'width': '25rem',
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/General/Baking/Annam_Tamarind_400g.jpg"
               style="width: 180px; height: 180px">
          <img class="p-col-6" src="assets/img/General/Baking/Tata_Salt.jpg" style="width: 180px; height: 180px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/General/Coconut/Natco_Desiccated.png"
               style="width: 180px; height: 150px">
          <img class="p-col-6" src="assets/img/General/Ghee/Amul.jpg" style="width: 180px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text" (click)="navigateToHomePage('General Groceries', 'Oil')">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-col-4 product-description-text" header="Health & Beauty"
            subheader="We take care of your health and beauty" [style]="{'width': '25rem',
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/H_B/H/Dabur_Amla.png" style="width: 180px; height: 180px">
          <img class="p-col-6" src="assets/img/H_B/H/Dabur_Gold.jpg" style="width: 180px; height: 180px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/H_B/H/Vatika_Olive.png" style="width: 180px; height: 150px">
          <img class="p-col-6" src="assets/img/H_B/H/Vatika_Coconut.jpg" style="width: 180px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text" (click)="navigateToHomePage('Health & Beauty', 'Hair Care')">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-col-4 product-description-text" header="Masala & Spices" subheader="Your kitchen loves our product"
            [style]="{'width': '25rem',
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Spices/Annam_Curry_Leaf.jpg" style="width: 180px; height: 180px">
          <img class="p-col-6" src="assets/img/Spices/Heera_Poppy.jpg" style="width: 180px; height: 180px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Spices/MDH_Chicken_Curry_Masala.png" style="width: 180px; height: 150px">
          <img class="p-col-6" src="assets/img/Spices/PavBhaji.jpg" style="width: 180px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text" (click)="navigateToHomePage('Masala & Spices', 'Powder')">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-col-4 product-description-text" header="Rice" subheader="All varieties with affordable price"
            [style]="{'width': '25rem',
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/rice/IG_Classic.png" style="width: 180px; height: 180px">
          <img class="p-col-6" src="assets/img/rice/India_Gate_Sona_Masoori.png" style="width: 180px; height: 180px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/rice/Chakra_Ponni_Boiled.jpg" style="width: 180px; height: 150px">
          <img class="p-col-6" src="assets/img/rice/heera_idly.png" style="width: 180px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text" (click)="navigateToHomePage('Rice', 'Basmati')">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-col-4 product-description-text" header="Nuts & Dried Fruits" [style]="{'width': '25rem',
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Nuts/Almond_Powder.jpg" style="width: 180px; height: 180px">
          <img class="p-col-6" src="assets/img/Nuts/Heera_Red_Peanuts.jpg" style="width: 180px; height: 180px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Nuts/TRS_Dates.png" style="width: 180px; height: 150px">
          <img class="p-col-6" src="assets/img/Nuts/TRS_Almond_Flakes.jpg" style="width: 180px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text" (click)="navigateToHomePage('Nuts & Dried Fruits', null)">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-col-4 product-description-text" header="Snacks" [style]="{'width': '25rem',
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Snacks/Britania_Butter.jpg" style="width: 180px; height: 180px">
          <img class="p-col-6" src="assets/img/Snacks/H_Boondi.jpg" style="width: 180px; height: 180px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Snacks/H_Kachori.jpg" style="width: 180px; height: 150px">
          <img class="p-col-6" src="assets/img/Snacks/KCB_Farrari_Mix.jpg" style="width: 180px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text" (click)="navigateToHomePage('Snacks', null)">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-col-4 product-description-text" header="Beverages" [style]="{'width': '25rem',
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Beverages/Brooke_Bond_RL.jpg" style="width: 180px; height: 180px">
          <img class="p-col-6" src="assets/img/Beverages/Brooke_Bond_Taj.jpg" style="width: 180px; height: 180px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Beverages/Wagh_Bakri_Tea.jpg" style="width: 180px; height: 150px">
          <img class="p-col-6" src="assets/img/Beverages/PG_Tips.jpg" style="width: 180px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text" (click)="navigateToHomePage('Beverages', null)">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-col-4 product-description-text" header="Paste & Pickle"
            subheader="From 25 Kr Onwards - Cheapest in Entire Sweden" [style]="{'width': '25rem',
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Pickle_Paste/Ching_Schezwan.png" style="width: 180px; height: 150px">
          <img class="p-col-6" src="assets/img/Pickle_Paste/Mango_Ginger.jpg" style="width: 180px; height: 150px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Pickle_Paste/MTR_Sliced_Mango.jpg" style="width: 180px; height: 150px">
          <img class="p-col-6" src="assets/img/Pickle_Paste/Cut_Mango.jpg" style="width: 180px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text" (click)="navigateToHomePage('Paste & Pickle', null)">Shop now</i>
      </div>
    </p-card>
  </div>
</div>


<div id="content-mobile">

  <div class="p-grid" style="padding: 10px">

    <p-card class="p-sm-6 product-description-text" header="Dal, Pulses & Lentils" subheader="From 15 Kr Onwards"
            [style]="{'margin-bottom': '2em', 'background-color' : '#F5F5F5', 'font-size' : 'small'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/dals/TRS_Mung_Dal.png" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/dals/TRS_MungBeans.png" style="width: 150px; height: 150px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/dals/TRS_White_ChickPeas.png" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/dals/TRS_Redkidney.jpg" style="width: 150px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text_mobile" (click)="navigateToHomePage('Dal, Pulses & Lentils', 'Dal')">Shop
          now</i>
      </div>
    </p-card>

    <p-card class="p-sm-6  product-description-text" header="Flour" subheader="From 20 Kr Onwards" [style]="{
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/flours/Annam_Rava.jpg" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/flours/wheat/Aashirvaad_Wheat.png" style="width: 150px; height: 150px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/flours/wheat/Pillsbury.png" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/flours/Millet/Chakkra_millet.jpg" style="width: 150px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text_mobile" (click)="navigateToHomePage('Flour', 'Wheat')">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-sm-6 product-description-text" header="General Groceries"
            subheader="All you need is available at affordable rate" [style]="{
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/General/Baking/Annam_Tamarind_400g.jpg"
               style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/General/Baking/Tata_Salt.jpg" style="width: 150px; height: 150px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/General/Coconut/Natco_Desiccated.png"
               style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/General/Ghee/Amul.jpg" style="width: 150px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text_mobile" (click)="navigateToHomePage('General Groceries', 'Oil')">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-sm-6  product-description-text" header="Health & Beauty"
            subheader="We take care of your health and beauty" [style]="{
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/H_B/H/Dabur_Amla.png" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/H_B/H/Dabur_Gold.jpg" style="width: 150px; height: 150px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/H_B/H/Vatika_Olive.png" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/H_B/H/Vatika_Coconut.jpg" style="width: 150px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text_mobile" (click)="navigateToHomePage('Health & Beauty', 'Hair Care')">Shop
          now</i>
      </div>
    </p-card>

    <p-card class="p-sm-6  product-description-text" header="Masala & Spices" subheader="Your kitchen loves our product"
            [style]="{
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Spices/Annam_Curry_Leaf.jpg" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/Spices/Heera_Poppy.jpg" style="width: 150px; height: 150px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Spices/MDH_Chicken_Curry_Masala.png" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/Spices/PavBhaji.jpg" style="width: 150px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text_mobile" (click)="navigateToHomePage('Masala & Spices', 'Powder')">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-sm-6  product-description-text" header="Rice" subheader="All varieties with affordable price"
            [style]="{
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/rice/IG_Classic.png" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/rice/India_Gate_Sona_Masoori.png" style="width: 150px; height: 150px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/rice/Chakra_Ponni_Boiled.jpg" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/rice/heera_idly.png" style="width: 150px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text_mobile" (click)="navigateToHomePage('Rice', 'Basmati')">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-sm-6  product-description-text" header="Nuts & Dried Fruits" [style]="{
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Nuts/Almond_Powder.jpg" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/Nuts/Heera_Red_Peanuts.jpg" style="width: 150px; height: 150px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Nuts/TRS_Dates.png" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/Nuts/TRS_Almond_Flakes.jpg" style="width: 150px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text_mobile" (click)="navigateToHomePage('Nuts & Dried Fruits', null)">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-sm-6 product-description-text" header="Snacks" [style]="{
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Snacks/Britania_Butter.jpg" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/Snacks/H_Boondi.jpg" style="width: 150px; height: 150px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Snacks/H_Kachori.jpg" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/Snacks/KCB_Farrari_Mix.jpg" style="width: 150px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text_mobile" (click)="navigateToHomePage('Snacks', null)">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-sm-6 product-description-text" header="Beverages" [style]="{
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Beverages/Brooke_Bond_RL.jpg" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/Beverages/Brooke_Bond_Taj.jpg" style="width: 150px; height: 150px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Beverages/Wagh_Bakri_Tea.jpg" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/Beverages/PG_Tips.jpg" style="width: 150px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text_mobile" (click)="navigateToHomePage('Beverages', null)">Shop now</i>
      </div>
    </p-card>

    <p-card class="p-sm-6 product-description-text" header="Paste & Pickle"
            subheader="From 25 Kr Onwards - Cheapest in Entire Sweden" [style]="{
                                'margin-bottom': '2em', 'background-color' : '#F5F5F5', 'font-size': 'small'}">
      <div class="p-grid product-description-text" style="text-align: center; margin: 0 auto">
        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Pickle_Paste/Ching_Schezwan.png" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/Pickle_Paste/Mango_Ginger.jpg" style="width: 150px; height: 150px">
        </div>

        <div style="margin: 0 auto">
          <img class="p-col-6" src="assets/img/Pickle_Paste/MTR_Sliced_Mango.jpg" style="width: 150px; height: 150px">
          <img class="p-col-6" src="assets/img/Pickle_Paste/Cut_Mango.jpg" style="width: 150px; height: 150px">
        </div>
        <i class="p-col-12 shop_now_text_mobile" (click)="navigateToHomePage('Paste & Pickle', null)">Shop now</i>
      </div>
    </p-card>

  </div>
</div>


