/* Container holding the image and the text */
.container_home-page {
  position: relative;
  text-align: center;
  color: #6d7fcc;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.shop_now_text {
  font-size: medium;
  font-weight: bold;
  font-style: oblique;
  font-family: 'Trebuchet MS';
  color: #6d7fcc
}

i:hover {
  text-decoration: underline;
  color: blueviolet;
}

.product-description-text {
  font-family: "Trebuchet MS";
  font-style: oblique;
  font-size: medium;
}

.shop_now_text_mobile {
  font-size: small;
  font-style: oblique;
  font-family: 'Trebuchet MS';
  color: #6d7fcc
}
