<div>ActualPrice</div>
<input pInputText type="number" size="100" [(ngModel)]="addGroceryModel.actualPrice"/>
<br>
<br>

<div>BrandName</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.brandName" placeholder="Required"/>
<br><br>
<br>
<div>Bulk PurchaseOffer Available</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.bulkPurchaseOfferAvailable"
       placeholder="Required"/>
<br><br>
<div>Bulk Purchase Offer Count</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.bulkPurchaseOfferCount" placeholder="Required"/>
<br><br>
<div>Bulk Purchase Offer Price</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.bulkPurchaseOfferPrice" placeholder="Required"/>
<br>
<br>
<div>Id</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.id" placeholder="Required"/>
<br><br>
<br>
<div>Image Path</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.imagePath" placeholder="Required"/>
<br>
<div>Max Shopping Count</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.maxShoppingCount" placeholder="Required"/>
<br><br>
<br>
maxShoppingIsRestricted
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.maxShoppingIsRestricted" placeholder="Required"/>
<br><br>
<br>
<div>offerPrice</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.offerPrice" placeholder="Required"/>
<br><br>
<div>subType</div>
<input pInputText size="100" type="text" [(ngModel)]="addGroceryModel.subType" placeholder="Required"/>
<br><br>
<div>type</div>
<input pInputText size="100" type="text" [(ngModel)]="addGroceryModel.type" placeholder="Required"/>
<br><br>
<div>unitOfWeight</div>
<input pInputText size="100" type="text" [(ngModel)]="addGroceryModel.unitOfWeight" placeholder="Required"/>
<br><br>
<div>weight</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.weight" placeholder="Required"/>
<br><br>
<div>catagory</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.catagory" placeholder="Required"/>
<br><br>
<div>subCatagory</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.subCatagory" placeholder="Required"/>
<br><br>
<div>isCampaign</div>
<input pInputText type="text" size="100" [(ngModel)]="isCampaign" placeholder="Required"/>
<br><br>
<div>isFastMoving</div>
<input pInputText type="text" size="100" [(ngModel)]="isFastMoving" placeholder="Required"/>
<br><br>
<div>description</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.description" placeholder="Required"/>

<br><br>
<br><br>

<div>DATABASE PATH</div>
<!--input pInputText size="100" type="text" [(ngModel)]="dbPath" placeholder="Required"/-->
<!--p-dropdown [options]="menuItems" [(ngModel)]="selectedPath" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown-->

<input type="text" [ngModel]="input" />


<button pButton type="button" label="Register" class="ui-button-rounded ui-button-success"
        (click)="save()"></button>
