<!--<div>ActualPrice</div>
<input pInputText type="number" size="100" [(ngModel)]="addGroceryModel.actualPrice"/>
<br>
<br>

<div>BrandName</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.brandName" placeholder="Required"/>
<br><br>
<br>
<div>Bulk PurchaseOffer Available</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.bulkPurchaseOfferAvailable"
       placeholder="Required"/>
<br><br>
<div>Bulk Purchase Offer Count</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.bulkPurchaseOfferCount" placeholder="Required"/>
<br><br>
<div>Bulk Purchase Offer Price</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.bulkPurchaseOfferPrice" placeholder="Required"/>
<br>
<br>
<div>Id</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.id" placeholder="Required"/>
<br><br>
<br>
<div>Image Path</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.imagePath" placeholder="Required"/>
<br>
<div>Max Shopping Count</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.maxShoppingCount" placeholder="Required"/>
<br><br>
<br>
maxShoppingIsRestricted
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.maxShoppingIsRestricted" placeholder="Required"/>
<br><br>
<br>
<div>offerPrice</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.offerPrice" placeholder="Required"/>
<br><br>
<div>subType</div>
<input pInputText size="100" type="text" [(ngModel)]="addGroceryModel.subType" placeholder="Required"/>
<br><br>
<div>type</div>
<input pInputText size="100" type="text" [(ngModel)]="addGroceryModel.type" placeholder="Required"/>
<br><br>
<div>unitOfWeight</div>
<input pInputText size="100" type="text" [(ngModel)]="addGroceryModel.unitOfWeight" placeholder="Required"/>
<br><br>
<div>weight</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.weight" placeholder="Required"/>
<br><br>
<div>catagory</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.catagory" placeholder="Required"/>
<br><br>
<div>subCatagory</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.subCatagory" placeholder="Required"/>
<br><br>
<div>isCampaign</div>
<input pInputText type="text" size="100" [(ngModel)]="isCampaign" placeholder="Required"/>
<br><br>
<div>isFastMoving</div>
<input pInputText type="text" size="100" [(ngModel)]="isFastMoving" placeholder="Required"/>
<br><br>
<div>description</div>
<input pInputText type="text" size="100" [(ngModel)]="addGroceryModel.description" placeholder="Required"/>

<br><br>
<br><br>

<div>DATABASE PATH</div>
&lt;!&ndash;input pInputText size="100" type="text" [(ngModel)]="dbPath" placeholder="Required"/&ndash;&gt;
&lt;!&ndash;p-dropdown [options]="menuItems" [(ngModel)]="selectedPath" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown&ndash;&gt;

<input type="text" [ngModel]="input" />


<button pButton type="button" label="Register" class="ui-button-rounded ui-button-success"
        (click)="save()"></button>-->




<div class="ui-grid">
  <div class="with-divider">
    <div class="ui-grid-col-3">Actual Price of the product</div>
    <div class="ui-grid-col-3"><input pInputText type="number" [(ngModel)]="addGroceryModel.actualPrice"/>
    </div>
    <div class="ui-grid-col-3">What is the brand name</div>
    <input pInputText type="text" [(ngModel)]="addGroceryModel.brandName" placeholder="Required"/>
  </div>
  <hr>
  <!--div class="with-divider">

    <div class="ui-grid-col-3">Id ( Please provide the value 0 always )</div>
    <input pInputText type="text" [(ngModel)]="addGroceryModel.id" placeholder="Required"/>
  </div-->


  <div class="with-divider">
    <div class="ui-grid-col-6">Image Path ( Where is the image of the product available )</div>
    <input class="ui-grid-col-6" pInputText type="text" [(ngModel)]="addGroceryModel.imagePath"
           placeholder="Required"/>
  </div>
  <hr>
  <div class="with-divider">

    <div class="ui-grid-col-6">Offer price ( Is the product selling for offer? )</div>
    <input pInputText type="text" [(ngModel)]="addGroceryModel.offerPrice" placeholder="Required"/>
  </div>
  <hr>
  <div class="with-divider">
    <div class="ui-grid-col-3">Unit of weight (Liter, Kg, Grams etc)</div>
    <input class="ui-grid-col-3" pInputText type="text" [(ngModel)]="addGroceryModel.unitOfWeight"
           placeholder="Required"/>

    <div class="ui-grid-col-3">Weight of the product </div>
    <input pInputText type="text" [(ngModel)]="addGroceryModel.weight" placeholder="Required"/>
  </div>
  <hr>
  <div class="with-divider">
    <div class="ui-grid-col-3">What is the catagory of the product</div>
    <input class="ui-grid-col-3" pInputText type="text" [(ngModel)]="addGroceryModel.catagory"
           placeholder="Required"/>

    <div class="ui-grid-col-3">What is the sub catagery of the product </div>
    <input pInputText type="text" [(ngModel)]="addGroceryModel.subCatagory" placeholder="Required"/>
  </div>
  <hr>
  <div class="with-divider">
    <div class="ui-grid-col-3">Is the product selling as a part of any campaign or promotion</div>
    <input class="ui-grid-col-3" pInputText type="text" [(ngModel)]="isCampaign"
           placeholder="Required"/>

    <div class="ui-grid-col-3">Is the product a fast moving one? </div>
    <input pInputText type="text" [(ngModel)]="isFastMoving" placeholder="Required"/>
  </div>
  <hr>
  <div class="with-divider">
    <div class="ui-grid-col-3">Description about the product. This is very important. Users search string should be available here</div>
    <textarea rows="2" cols="100" pInputTextarea [(ngModel)]="addGroceryModel.description"></textarea>
  </div>
</div>
<!--p-card header="Bulk Purchase Options">

  <div class="with-divider">
    <div class="ui-grid-col-6">Bulk PurchaseOffer Available (Example Buy 2 get 1 free )</div>
    <input class="ui-grid-col-6" pInputText type="text" [(ngModel)]="addGroceryModel.bulkPurchaseOfferAvailable"
           placeholder="Required"/>
  </div>
  <div class="with-divider">
    <div class="ui-grid-col-6">Bulk Purchase Offer Price (Example Buy 2 get 1 free )</div>
    <input class="ui-grid-col-6" pInputText type="text" [(ngModel)]="addGroceryModel.bulkPurchaseOfferPrice" placeholder="Required"/>
  </div>
  <div class="with-divider">
    <div class="ui-grid-col-6">Bulk Purchase Offer Price (Example Buy 2 get 1 free )</div>
    <input class="ui-grid-col-6" pInputText type="text" [(ngModel)]="addGroceryModel.bulkPurchaseOfferPrice"
           placeholder="Required"/>
  </div>
</p-card-->

<p-card header="Bulk Offer Options" [style]="{height: '160px'}" styleClass="p-card-shadow">
  <div class="with-divider">
    <div class="ui-grid-col-6">Bulk PurchaseOffer Available (Example Buy 2 get 1 free )</div>
    <input class="ui-grid-col-6" pInputText type="text" [(ngModel)]="addGroceryModel.bulkPurchaseOfferAvailable"
           placeholder="Required"/>
  </div>
  <div class="with-divider">
    <div class="ui-grid-col-6">Bulk Purchase Offer Price (Example Buy 2 get 1 free )</div>
    <input class="ui-grid-col-6" pInputText type="text" [(ngModel)]="addGroceryModel.bulkPurchaseOfferPrice" placeholder="Required"/>
  </div>
  <div class="with-divider">
    <div class="ui-grid-col-6">Bulk Purchase Offer Price (Example Buy 2 get 1 free )</div>
    <input class="ui-grid-col-6" pInputText type="text" [(ngModel)]="addGroceryModel.bulkPurchaseOfferPrice"
           placeholder="Required"/>
  </div>
</p-card>

<br>

<p-card header="Maximum shopping Options" [style]="{height: '150px'}" styleClass="p-card-shadow">
  <div class="with-divider">
    <div class="ui-grid-col-6">Max Shopping Count ( For limited stocks or offers, this field can be used )</div>
    <input class="ui-grid-col-6" pInputText type="text" [(ngModel)]="addGroceryModel.maxShoppingCount" placeholder="Required"/>
  </div>

  <div class="ui-grid-col-6">Max Shopping is Restricted ? ( For limited stocks or offers, this field can be used )</div>
  <input class="ui-grid-col-6" pInputText type="text" [(ngModel)]="addGroceryModel.maxShoppingIsRestricted"
         placeholder="Required"/>
</p-card>

<button pButton type="button" label="Register" class="ui-button-rounded ui-button-success"
        (click)="save()"></button>
