<p-sidebar [(visible)]="displaySideMenuBar"
           position="right"
           [baseZIndex]="10000"
           [style]="{width:'30em'}"
           (onHide)="sendCloseEvent()">

  <h4> Order Overview </h4>

  <div *ngIf="addGroceryToListObservableService.getTotalAmount() <= 400" class="isa_info">
    Needs delivery charge. Free delivery for more than 400 Kr
  </div>

  <div *ngIf="addGroceryToListObservableService.getTotalAmount() > 400" class="isa_success">
    This order is free of delivery charge
  </div>

  <div class="p-grid">

      <div class="p-col-5; block" (click)="moveToConfirmationPage()">
        <!--button  pButton type="button" icon="pi pi-check" label="Place Order"
                style="margin-top: 15px" class="ui-button-rounded ui-button-success" iconPos="right"
                (click)="moveToConfirmationPage()"></button-->
        Check out
    </div>
    <div class="p-col-5; redblock" (click)="emptyCart()">
      <!--button  pButton type="button" icon="pi pi-check" label="Place Order"
              style="margin-top: 15px" class="ui-button-rounded ui-button-success" iconPos="right"
              (click)="moveToConfirmationPage()"></button-->
      Empty cart
    </div>
  </div>

  <hr>

  <br>

  <div *ngFor="let order of ordersAddedByUser; let i = index">
    <div class="p-grid">

      <div class="p-col-6">

        <div class="arrange-horizontally">

        <img src="assets/img/groceries.png"
             style="width: 30px; height: 30px" class="center-align">

        <div class="box" style="border: black">
          {{order.groceryName}} <br>
          {{order.type}}
        </div>
      </div>

      </div>

      <div class="p-col-4">
        <button pButton type="button" icon="pi pi-minus" class="ui-button-danger" (click)="decrement(order)"></button>
        &nbsp;&nbsp;{{order.noOfItems}}&nbsp;&nbsp;
        <button pButton type="button" icon="pi pi-plus" class="ui-button-success" (click)="increment(order)"></button>
      </div>

      <div class="center">
        <h4>{{order.actualPrice * order.noOfItems}} Kr</h4>
      </div>
    </div>
    <hr>
  </div>


  <div *ngIf="addGroceryToListObservableService.getTotalAmount() <= 400" class="p-grid p-justify-end">
    <div class="p-col-8">
      <div class="box">
        Delivery Charge
      </div>
    </div>
    <div class="p-col-4">
      <div class="box" style="float: right">
        {{  addGroceryToListObservableService.getTotalAmount() }} Kr
      </div>
    </div>
  </div>


  <div class="p-grid p-justify-end">
    <div class="p-col-8">
      <div class="box">
        <h3>Total</h3>
      </div>
    </div>
    <div class="p-col-4">
      <div class="box" style="float: right">
        <h3>{{  addGroceryToListObservableService.getTotalAmount() }} Kr</h3>
      </div>
    </div>
  </div>

</p-sidebar>
