.center {
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
  width: 40%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin: auto;
}

.redblock {
  display: block;
  width: 40%;
  border: none;
  background-color: darkred;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin: auto;
}


.arrange-horizontally > * {
  display: inline-block;
  text-align: center;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 20px 0px;
  padding:5px;

}
.isa_info {
  color: #00529B;
  background-color: #BDE5F8;
}
.isa_success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.isa_warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.isa_error {
  color: #D8000C;
  background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
  margin:10px 22px;
  font-size:2em;
  vertical-align:middle;
}

.h4 {
  font-style: normal;
  font-weight: normal;
}
