<p-sidebar [(visible)]="displaySideMenuBar"
           position="right"
           [baseZIndex]="10000"
           styleClass="ui-sidebar-lg"
           (onHide)="sendCloseEvent()"
           [style]=" isDesktopApplication ? {'overflow': 'scroll', width:'35%', right: 0,
           'background-color': '#f1dfd1',
           'background-image': 'linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%)'
           } : {'overflow': 'scroll', width:'100%', right: 0}"
           [showCloseIcon]="false">


      <button pButton label="Go Back" class="ui-button-warning ui-button-rounded" iconPos="left" icon="pi pi-angle-left" (click)="displaySideMenuBar = false">
      </button>

  <div class="row mx-md-n5" style="padding: 0; margin: 0;">
    <div class="col py-3 px-md-5"><button type="button" class="btn btn-success" (click)="moveToConfirmationPage()">Checkout</button>
    </div>
    <div class="col py-3 px-md-5"><button type="button" class="btn btn-danger" (click)="emptyCart()">Empty Cart</button>
    </div>
  </div>

  <hr style="margin-top: 2px; padding:0">

  <div *ngFor="let order of ordersAddedByUser; let i = index">
    <div class="p-grid" style="border-bottom: 1px solid lightgrey; padding: 2px" [class.red] = "i % 2 == 0">

      <div class="p-col-6">

        <div class="arrange-horizontally">
        <div class="box" style="text-align: left; padding-left: 5px; font-style: italic">
          <span>{{order.groceryName}}, {{order.grossWeight}} {{order.unitOfWeight}} </span>
          <br>
          {{order.type}}
        </div>
      </div>

      </div>

      <div class="p-col-4">
        <button class="p-col-1" pButton type="button" icon="pi pi-minus" class="ui-button-danger" (click)="decrement(order)"></button>
        <span class="p-col-2 p-col-fixed">  {{order.noOfItems}}&nbsp;&nbsp;</span>
        <button class="p-col-1" pButton type="button" icon="pi pi-plus" class="ui-button-success" (click)="increment(order)"></button>
      </div>

      <div class="p-col-2" style="text-align: left">
        <strong style="text-align: left"> {{getCostOfIndividualOrder(order)}} Kr </strong>
      </div>
    </div>
  </div>

  <ul class="list-group list-group-flush">

    <li *ngIf="getTotalCostOfOrderedItems() <= 400" class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">
      <div>
        <strong class="text-danger">The Delivery Charge (Free delivery for 400 Kr )</strong>
        <small class="text-dark font-weight-bolder">
          <p class="mb-0">(Charge is 50Kr if only veggies worth 350 or less in cart)</p>
        </small>
      </div>
      <span><strong>Kr 30</strong></span>
    </li>

    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">
      <div>
        <strong class="text-danger">Total (Kr)</strong>
      </div>
      <span><strong>Kr {{  getTotalCostOfOrderedItemsAsString() }}</strong></span>
    </li>
  </ul>

</p-sidebar>
