<div class="modal-dialog" role="document">
  <div class="modal-content" style="width: 700px;">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Order History Page</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <table class="table table-success">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Brand</th>
          <th scope="col">Item</th>
          <th scope="col">Weight</th>
          <th scope="col">Quantity</th>
          <th scope="col">Cost</th>
          <th scope="col">Total Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders; let i = index" class="text-small">
          <th scope="row">{{i + 1}}</th>
          <td>{{order.groceryName}}</td>
          <td>{{order.type}}</td>
          <td>{{order.grossWeight}} {{order.unitOfWeight}}</td>
          <td>{{order.noOfItems}}</td>
          <td>{{order.actualPrice}} Kr</td>
          <td>{{order.actualPrice * order.noOfItems}} Kr</td>
        </tr>
        <tr class="bg-light text-dark font-weight-bold">
          <td colspan="6" class="text-small">Total Cost</td>
          <td class="text-small">{{totalCost}} Kr <br>
            <span class="text-primary text-small">(inclusive of 12% MOMS)</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
