<p-dialog id="content-desktop"
          (onHide)="sendCloseEvent()"
          [(visible)]="displayEditUserDialog"
          [baseZIndex]="10000"
          [style]="{width: '50vw'}"
          header="Edit User"
          [responsive]="false"
          [resizable]="false">

  <form [formGroup]="registerForm">


    <div class="ui-g">

      <div class="ui-g-12 ui-md-4">
        <label>First Name </label> <span class="red-color-text"> * </span>
      </div>

      <div class="ui-g-12 ui-md-8">
        <input [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
               class="form-control"
               formControlName="firstName"
               pInputText size="30"
               type="text"/>

        <div *ngIf="submitted && f.firstName.errors" class="red-color-text">
          <div *ngIf="f.firstName.errors.required">First name is required</div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-4">
        <label>Last Name </label> <span class="red-color-text"> * </span>
      </div>

      <div class="ui-g-12 p-col-8">
        <input [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" class="form-control"
               formControlName="lastName" pInputText size="30"
               type="text"/>

        <div *ngIf="submitted && f.lastName.errors" class="red-color-text">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>


      <div class="ui-g-12 ui-md-4">
        <label>Contact Number </label> <span class="red-color-text"> * </span>
      </div>

      <div class="ui-g-12 ui-md-8">
        <input [ngClass]="{ 'is-invalid': submitted && f.telephoneNumber.errors }" class="form-control"
               formControlName="telephoneNumber" pInputText
               placeholder="10 digit number starting with 0" size="30"
               type="text"/>

        <div *ngIf="submitted && f.telephoneNumber.errors" class="red-color-text">
          <div *ngIf="f.telephoneNumber.errors"> Please provide 10 digit mobile number, starting with 0</div>
        </div>
      </div>


      <div class="p-grid nested-grid">
        <div class="p-col-4">
          <div class="box box-stretched"> &nbsp;&nbsp;Address <span class="red-color-text"> &nbsp;* </span></div>
        </div>

        <div class="p-col-8">
          <div class="p-grid">

            <div class="p-col-6">
              <div class="box">Apartment Number <span style="color: red"> &nbsp;* </span></div>
            </div>

            <div class="p-col-6">
              <input [ngClass]="{ 'is-invalid': submitted && f.apartmentNo.errors }" formControlName="apartmentNo"
                     pInputText size="30"
                     type="text"/>

              <div *ngIf="submitted && f.apartmentNo.errors" class="red-color-text">
                <div *ngIf="f.apartmentNo.errors">Please provide apartment no</div>
              </div>
            </div>


            <div class="p-col-6">
              <div class="box">Street Name <span class="red-color-text"> &nbsp;* </span></div>
            </div>

            <div class="p-col-6">
              <input [ngClass]="{ 'is-invalid': submitted && f.streetName.errors }" formControlName="streetName"
                     pInputText size="30"
                     type="text"/>

              <div *ngIf="submitted && f.streetName.errors" class="red-color-text">
                <div *ngIf="f.streetName.errors">Please provide street name</div>
              </div>
            </div>

            <div class="p-col-6">
              <div class="box">Post Number <span class="red-color-text"> &nbsp;* </span></div>
            </div>
            <div class="p-col-6">
              <input [ngClass]="{ 'is-invalid': submitted && f.postNumber.errors }" formControlName="postNumber"
                     pInputText placeholder="5 digit number" size="30"
                     type="text"/>

              <div *ngIf="submitted && f.postNumber.errors" class="red-color-text">
                <div *ngIf="f.postNumber.errors">Please provide 5 digit numbers ( Add 0 if less than 5)</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>


  <p-footer>
    <button (click)="onSubmit()" class="ui-button-rounded ui-button-success" label="Save" pButton
            type="button"></button>
  </p-footer>

</p-dialog>


<p-dialog id="content-mobile"
          (onHide)="sendCloseEvent()"
          [(visible)]="displayEditUserDialog"
          [baseZIndex]="10000"
          [style]="{width: '90vw'}"
          header="Edit User"
          [responsive]="false"
          [resizable]="false">

  <div *ngIf="displayErrorMessage">
    <app-display-message severity="error" summary="Cannot save details: " detail="Sorry to inform you that, there is a technical error occurred. We have created an incident and fix it soon."></app-display-message>
  </div>

  <form [formGroup]="registerForm">

    <div class="ui-g">

      <div class="ui-g-12">
        <label>First Name </label> <span class="red-color-text"> * </span>
      </div>

      <div class="ui-g-12">
        <input [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
               class="form-control"
               formControlName="firstName"
               pInputText
               class="p-col-12_roundBordered_Input"
               type="text"/>

        <div *ngIf="submitted && f.firstName.errors" class="red-color-text">
          <div *ngIf="f.firstName.errors.required">First name is required</div>
        </div>
      </div>

      <label>Last Name </label> <span class="red-color-text"> * </span>

      <div class="ui-g-12">
        <input [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
               class="form-control"
               formControlName="lastName"
               pInputText
               class="p-col-12_roundBordered_Input"
               type="text"/>

        <div *ngIf="submitted && f.lastName.errors" class="red-color-text">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>


      <div class="ui-g-12">
        <label>Contact Number </label> <span class="red-color-text"> * </span>
      </div>

      <div class="ui-g-12">
        <input [ngClass]="{ 'is-invalid': submitted && f.telephoneNumber.errors }"
               class="form-control"
               formControlName="telephoneNumber"
               pInputText
               placeholder="10 digit number starting with 0"
               class="p-col-12_roundBordered_Input"
               type="text"/>

        <div *ngIf="submitted && f.telephoneNumber.errors" class="red-color-text">
          <div *ngIf="f.telephoneNumber.errors"> Please provide 10 digit mobile number, starting with 0</div>
        </div>
      </div>


      <div class="p-col-12">
        <div class="box">Apartment Number <span style="color: red"> &nbsp;* </span></div>
      </div>

      <div class="p-col-12">
        <input [ngClass]="{ 'is-invalid': submitted && f.apartmentNo.errors }" formControlName="apartmentNo"
               pInputText width="100%"
               class="p-col-12_roundBordered_Input"
               type="text"/>

        <div *ngIf="submitted && f.apartmentNo.errors" class="red-color-text">
          <div *ngIf="f.apartmentNo.errors">Please provide apartment no</div>
        </div>
      </div>


      <div class="box">Street Name <span class="red-color-text"> &nbsp;* </span></div>


      <div class="p-col-12">
        <input [ngClass]="{ 'is-invalid': submitted && f.streetName.errors }"
               formControlName="streetName"
               pInputText width="100%"
               class="p-col-12_roundBordered_Input"
               type="text"/>

        <div *ngIf="submitted && f.streetName.errors" class="red-color-text">
          <div *ngIf="f.streetName.errors">Please provide street name</div>
        </div>
      </div>

      <div class="box">Post Number <span class="red-color-text"> &nbsp;* </span></div>
      <div class="p-col-12">
        <input [ngClass]="{ 'is-invalid': submitted && f.postNumber.errors }" formControlName="postNumber"
               pInputText
               placeholder="5 digit number"
               class="p-col-12_roundBordered_Input"
               type="text"/>

        <div *ngIf="submitted && f.postNumber.errors" class="red-color-text">
          <div *ngIf="f.postNumber.errors">Please provide 5 digit numbers ( Add 0 if less than 5)</div>
        </div>
      </div>

    </div>
  </form>


  <p-footer>
    <button (click)="onSubmit()" class="ui-button-rounded ui-button-success" label="Save" pButton
            type="button"></button>
  </p-footer>
</p-dialog>
